header a {
  text-decoration: none;
  color: #000000;
}

header a:hover {
  color: #000000;
}

header ul {
  list-style: none;
}

header .logo {
  border-top: 6px solid #0D47A1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
}

header .logo .logo-img {
  padding: 0 1.5rem;
  height: 5rem;
  width: 8rem;
}

header .logo .title {
  font-family: "Open Sans", sans-serif;
}

header .logo .title h1 {
  font-size: clamp(1.2rem, 2.1vw, 1.6rem);
  font-weight: 700;
  letter-spacing: 0;
}

header .logo .title h2 {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  font-weight: 600;
  letter-spacing: 0;
}

.navbar {
  font-family: "Roboto", sans-serif;
  background-color: #0D47A1;
}

.navbar .navbar-toggler {
  border: 1px solid white;
  cursor: pointer;
  width: 1.8em;
  height: 1.8em;
  padding: 0 0 0.15em 0.25em;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .navbar-toggler-line,
.navbar .navbar-toggler-line::after,
.navbar .navbar-toggler-line::before {
  width: 1.5rem;
  height: .2rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .navbar-toggler-line::before {
  content: '';
  display: block;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.navbar .navbar-toggler-line::after {
  content: '';
  display: block;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.navbar .navbar-toggler.collapsed .navbar-toggler-line {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  background-color: transparent;
}

.navbar .navbar-toggler.collapsed .navbar-toggler-line::before {
  -webkit-transform: rotate(45deg) translate(10px, -10px);
          transform: rotate(45deg) translate(10px, -10px);
}

.navbar .navbar-toggler.collapsed .navbar-toggler-line::after {
  -webkit-transform: rotate(-45deg) translate(10px, 10px);
          transform: rotate(-45deg) translate(10px, 10px);
}

.navbar .dropdown-toggle::after {
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px;
  border-radius: 5px;
  color: #e6e0e0;
  font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: white;
  background-color: #1976D2;
}

.nav-item {
  padding: 0 1.5rem;
}

.dropdown-menu {
  background-color: #1565C0;
  -webkit-animation: slideDown .2s ease-in 1;
          animation: slideDown .2s ease-in 1;
}

.fas {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-link[aria-expanded="true"] .fas {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dropdown-item {
  padding: .8rem;
  font-size: .95rem;
  color: #e6e0e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.dropdown-item:hover {
  color: white;
  background-color: #1E88E5;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 5000000000;
  top: 0;
  left: 0;
  background-color: #171f30;
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}

.content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .loading {
  width: 80px;
  height: 50px;
  position: relative;
}

.content .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #5389a6;
  font-family: "Oxygen", sans-serif;
  -webkit-animation: text 3.5s ease both infinite;
          animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}

@-webkit-keyframes text {
  0% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes text {
  0% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    -webkit-transform: translateX(26px);
            transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.content .loading span {
  background-color: #5389a6;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  -webkit-transform: translateX(64px);
          transform: translateX(64px);
  -webkit-animation: loading 3.5s ease both infinite;
          animation: loading 3.5s ease both infinite;
}

.content .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  -webkit-animation: loading2 3.5s ease both infinite;
          animation: loading2 3.5s ease both infinite;
}

@-webkit-keyframes loading {
  0% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    width: 16px;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  90% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes loading {
  0% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  40% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  80% {
    width: 16px;
    -webkit-transform: translateX(64px);
            transform: translateX(64px);
  }
  90% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    width: 16px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes loading2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    width: 80%;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
}

@keyframes loading2 {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  90% {
    width: 80%;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 16px;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%) scaleY(0.8);
            transform: translateY(-20%) scaleY(0.8);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%) scaleY(0.8);
            transform: translateY(-20%) scaleY(0.8);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-20%) scaleY(0.8);
            transform: translateY(-20%) scaleY(0.8);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(-20%) scaleY(0.8);
            transform: translateY(-20%) scaleY(0.8);
    opacity: 1;
  }
}

.main-landing .overlay {
  background-color: black;
}

.main-landing .main-box-size {
  height: 80vh;
  width: 100%;
}

.main-landing .main-box-size .img-size {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.68;
}

.main-landing .carousel-caption {
  font-family: "Roboto", sans-serif;
  bottom: 30%;
  margin: auto;
}

.main-landing .carousel-caption h5 {
  padding: 0 5rem 0 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
  font-size: clamp(30px, 4vw, 50px);
  text-shadow: -3px 1px 8px rgba(0, 0, 0, 0.82);
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

.main-landing .carousel-caption p {
  width: 40rem;
  font-size: clamp(12px, 2.1vw, 15px);
  text-shadow: -3px 1px 8px rgba(0, 0, 0, 0.82);
  line-height: 1.7;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  text-align: left;
}

.dean-section {
  padding: 5rem 2.1rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.dean-section .align-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dean-section h1 {
  font-family: "Roboto", sans-serif;
}

.dean-section h3 {
  font-size: .8rem;
  font-family: "Roboto", sans-serif;
  color: #0D47A1;
}

.dean-section h4 {
  font-size: .65rem;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
}

.dean-section hr {
  background-color: #1565C0;
  height: 2px;
  width: 220px;
  margin-bottom: 2rem;
}

.dean-section p {
  text-align: justify;
  font-size: clamp(0.9rem, 0.98vw, 1rem);
  margin: .3rem;
}

.dean-section .fet_message {
  margin-top: 1rem;
}

.dean-section .btn {
  background-color: #0D47A1;
  color: white;
}

.dean-section .btn:hover {
  background-color: #1976D2;
}

.dean-section .img_effects {
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.dean-section .img_effects:hover {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  -webkit-box-shadow: 0px 2px 14px 9px #888888;
          box-shadow: 0px 2px 14px 9px #888888;
}

.map-section {
  padding: 5rem 2.1rem;
  background: url("/public/Images/AC_side_darkoverlay.jpg") no-repeat fixed 100%;
  background-size: cover;
  background-position: center;
}

.map-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem 2rem;
}

iframe {
  height: 35rem;
  width: 100%;
  -webkit-clip-path: polygon(0% 10%, 100% 9%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 9%, 100% 100%, 0% 100%);
}

.align_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding: .5rem 0;
  background-color: #f4f0f0;
  border: none;
  font-size: "Roboto", sans-serif;
  width: 80%;
}

.card .card-text {
  text-align: justify;
  font-size: 1rem;
  margin-top: -30px;
}

.card .card-title, .card .card-text {
  padding: 1rem 2rem;
}

.card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 2rem;
}

.card .card-img-top {
  height: 10rem;
  width: 11.5rem;
}

.tilt_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt_effect svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 129px;
}

.tilt_effect .shape-fill {
  fill: #FFFFFF;
}

.tilt_effect_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tilt_effect_bottom svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 129px;
}

.tilt_effect_bottom .shape-fill {
  fill: #FFFFFF;
}

#map_section {
  position: relative;
}

.department-section {
  padding: 5rem 3rem;
  font-family: "Roboto", sans-serif;
}

.department-section .align-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
}

.department-section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.department-section .cards-container .box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.department-section .cards-container .card {
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  margin: 2rem auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.department-section .cards-container .card:hover {
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.department-section .cards-container .card:before,
.department-section .cards-container .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.department-section .cards-container .card:after {
  background-color: #f8f8f8;
}

.department-section .cards-container .card:before {
  background-color: #e7e6e6;
}

.department-section .cards-container .card:hover:before {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.department-section .cards-container .card:hover:after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.department-section .cards-container .card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 80px;
  right: 10px;
  background: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.department-section .cards-container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.department-section .cards-container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.department-section .cards-container .card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.department-section .cards-container .card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
}

.dept_Chairman {
  padding: 5rem 2.1rem;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}

.dept_Chairman .align-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dept_Chairman h1 {
  font-family: "Roboto", sans-serif;
}

.dept_Chairman h3 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #0D47A1;
}

.dept_Chairman h4 {
  font-size: .8rem;
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
}

.dept_Chairman hr {
  background-color: #1565C0;
  height: 2px;
  width: 220px;
  margin-bottom: 2rem;
}

.dept_Chairman p {
  text-align: justify;
  font-size: clamp(1rem, 1vw, 1.3rem);
  margin: .3rem;
}

.dept_Chairman .fet_message {
  margin-top: 1rem;
}

.dept_Chairman .btn {
  background-color: #0D47A1;
  color: white;
}

.dept_Chairman .btn:hover {
  background-color: #1976D2;
}

.dept_Chairman .img_effects {
  height: 350px;
  width: 300px;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
}

.dept_Chairman .img_effects:hover {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  -webkit-box-shadow: 0px 2px 14px 9px #888888;
          box-shadow: 0px 2px 14px 9px #888888;
}

.dept_Chairman .fet_logo {
  height: 17rem;
  width: 18.5rem;
  margin-bottom: 2rem;
}

.dept_Chairman .message_heading {
  margin: 10rem 0 5rem 0;
  font-family: "Roboto", sans-serif;
}

.dept_Chairman .message_section {
  padding-left: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.dept_Chairman .message_section .logo_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dept_Chairman .main_oblective {
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.parallex {
  background: url("/public/Images/Convocation_darkoverlay.jpg") no-repeat fixed 100%;
  background-size: cover;
  background-position: center;
}

#link_section {
  position: relative;
}

.links_section {
  padding: 5rem 2rem;
}

.links_section .link_headaing {
  margin: 3rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-shadow: -3px 1px 8px rgba(0, 0, 0, 0.82);
}

.links_section .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links_section .link_container .card_section .box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: 0 auto;
}

.links_section .link_container .card_section .card {
  position: relative;
  width: 280px;
  height: 280px;
  background: white;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  outline: 2px solid antiquewhite;
  border-radius: 0;
}

.links_section .link_container .card_section .card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  bottom: 80px;
}

.links_section .link_container .card_section .card:hover .imgBx {
  bottom: 10px;
}

.links_section .link_container .card_section .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.links_section .link_container .card_section .card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.links_section .link_container .card_section .card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #000000;
}

.links_section .link_container .quick_link_section {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.links_section .link_container .quick_link_section .card {
  background-color: #eeeeee;
  margin: 0 auto;
  border-top: 5px solid #1976D2;
  border-bottom: 5px solid #1976D2;
}

.links_section .link_container .quick_link_section .card .list-group-item {
  background-color: transparent;
}

.links_section .link_container .quick_link_section .card .quick_link {
  font-size: 1.1rem;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #4b4b4b;
}

.links_section .link_container .quick_link_section .card .quick_link:hover {
  color: black;
  text-decoration: underline;
}

.triangle-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.triangle-top .shape-fill {
  fill: #FFFFFF;
}

.footer-top {
  padding-top: 2rem;
  background: linear-gradient(40deg, black, rgba(31, 30, 30, 0.8)), url("/public/Images/image_fet_footer.jpg");
  background-size: cover;
  background-position: top;
}

.footer-top .item_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top .about_site, .footer-top .address_text {
  color: #999999;
  line-height: 25px;
  font-size: 1.1rem;
}

.footer-top h2, .footer-top h3 {
  color: white;
}

.footer-top h2 {
  font-size: 1.1rem;
}

.footer-top .fas {
  padding: .5rem;
  font-size: 1.2rem;
  color: white;
}

.footer-top .fab {
  margin: 1rem .5rem;
  padding: .3rem;
  border-radius: 5px;
  font-size: 1.8rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-top .fab_facebook {
  color: white;
  background-color: #4268b3;
}

.footer-top .fab_facebook:hover {
  color: #4268b3;
  background-color: white;
}

.footer-top .fab_youtube {
  color: white;
  background-color: red;
}

.footer-top .fab_youtube:hover {
  color: red;
  background-color: white;
}

.footer-top .fab_twitter {
  color: white;
  background-color: #1ca0f2;
}

.footer-top .fab_twitter:hover {
  color: #1ca0f2;
  background-color: white;
}

.footer-top .sagment-one,
.footer-top .sagment-two,
.footer-top .sagment-three {
  margin-top: 1.5rem;
}

.footer-top .sagment-one h3 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.footer-top .sagment-one h3::before {
  content: "|";
  color: #42A5F5;
  padding-right: 10px;
}

.footer-top .sagment-two h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-top .sagment-two p {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

.footer-top .sagment-three {
  font-family: "Roboto Condensed", sans-serif;
}

.footer-top .sagment-three h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-top .sagment-three .input_bar {
  padding: .2rem .5rem;
  width: 70%;
  margin-top: .5rem;
  text-transform: uppercase;
  border-style: none;
}

.footer-top .sagment-three form .submit_btn {
  padding: .2rem 0;
  margin-top: .1rem;
  background: #42A5F5;
  border: none;
  width: 70%;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.footer-top .sagment-three form .submit_btn:hover {
  background: #1565C0;
  color: white;
  -webkit-box-shadow: 0px 2px 15px -5px #FFF4F6;
          box-shadow: 0px 2px 15px -5px #FFF4F6;
}

.footer_bottom_rights {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: transparent;
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
  }
  .logo .logo-img {
    height: 5rem;
    width: 8rem;
  }
  .logo .title {
    text-align: center;
  }
  .navbar-nav .nav-item .dropdown-item {
    padding: 1.2rem 1rem;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 1.2rem 1rem;
  }
  .btm-padding {
    padding-bottom: 3rem;
  }
  section .dean-section {
    padding: 5rem 7rem;
  }
  .map-section {
    padding: 5rem 5rem;
  }
  .card {
    margin-top: 1rem;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card .card-title, .card .card-text {
    padding: 1rem .5rem;
    text-align: left;
  }
  .card .card-img-top {
    padding-top: 1.5rem;
    width: 10rem;
  }
  .md_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .logo .logo-img {
    display: none;
  }
  .logo .title {
    text-align: left;
  }
  .main-landing .carousel-caption h5 {
    padding: 0;
  }
  .main-landing .carousel-caption p {
    width: auto;
  }
  section .dean-section {
    padding: 5rem 2rem;
  }
  .map-section {
    padding: 5rem .5rem;
  }
  iframe {
    height: 30rem;
    width: 100%;
  }
  .card {
    margin-top: 1rem;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card .card-title, .card .card-text {
    padding: 1rem .5rem;
    text-align: unset;
  }
  .card .card-img-top {
    padding-top: 1.5rem;
    width: 10rem;
  }
  .md_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .links_section .link_container .card_section .box {
    padding: 0 1rem;
  }
}

html, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.7vw;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a3a3a3;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4e68da;
}
/*# sourceMappingURL=style.css.map */