  

<footer>
        <p class="footer_bottom_rights dash_footer">2021 &copy; All Rights Reserved, Final Year Project, ID: SWEM-29, 2k18 Betch</p>
</footer>

    <!-- Jquery GOOGLE CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


<script src="/public/scripts/datatables.min.js"></script>





    <!-- Custom JavaScript -->
    <script src="/public/scripts/nav.js"></script>    
    <script src="/public/scripts/loader.js"></script>
    <script src="/public/scripts/log_show.js"></script>    
    <script src="/public/scripts/dashboard.js"></script>
    <script src="/public/scripts/table_pagination.js"></script>

</body>
</html>