<% if(typeof errorMessage !== 'undefined'){ %> 

  <% errorMessage.forEach((errors) => { %>
    
  
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%=errors.msg;%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


  <%  }); %> 

<% } %> 


<% if(error != ''){ %>     
  
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%=error%>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

<% } %> 
