  

<footer>
    <div class="footer-top">
        
        <div class="container-fluid">
            <div class="row item_space">
                <div class="col-md-3 col-sm-6 col-xs-12 sagment-one">
                    <h3>Address</h3>
                    <div class="footer_loaction"><p class="address_text"><i class="fas fa-map-marker-alt"></i> Faculty of Engineering and Technology, University of Sindh, Jamshoro Pakistan</p></div>
                    <div class="footer_phone"><p class="address_text"><i class="fas fa-phone-alt"></i>+92-(0)22-9213181-90</p></div>
                    <div class="footer_email"><p class="address_text"><i class="fas fa-envelope"></i>info@fet.usindh.edu.pk</p></div>
                </div>


                <div class="col-md-3 col-sm-6 col-xs-12 sagment-two">
                    <h3>About Site</h3>
                     <p class="about_site">This is a web based project to introduce our faculty to new students and help them, where to check result and find daily information,</p>
                       <div class="social">
                           <a href="https://www.facebook.com/UsindhJamshoro"><i class="fab fa-facebook-square fab_facebook"></i></a>
                           <a href="https://www.youtube.com/c/universityofsindhofficial"><i class="fab fa-youtube fab_youtube"></i></a>
                           <a href="https://twitter.com/"><i class="fab fa-twitter-square fab_twitter"></i></a>
                       </div>
                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 sagment-three">
                    <h3>Newsletter</h3>
                    <form action="/newsletter">
                        <input type="text" placeholder="First Name" class="input_bar" autocomplete="chrome-off" autocomplete="off" required>
                        <input type="text" placeholder="Last Name"  class="input_bar" autocomplete="chrome-off" autocomplete="off" required>
                        <input type="email" placeholder="Email" class="input_bar" autocomplete="chrome-off" autocomplete="off" required>  
                        <br>
                        <input type="submit" value="Subscribe" class="submit_btn">  

                    
                    </form>

                </div>

            </div>          

            
        </div>
        
    </div>
        <p class="footer_bottom_rights">2021 &copy; All Rights Reserved, Final Year Project, ID: SWEM-29, 2k18 Betch</p>
</footer>

    <!-- Jquery GOOGLE CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Custom JavaScript -->
    <script src="/public/scripts/nav.js"></script>    
    <script src="/public/scripts/loader.js"></script>

</body>
</html>