<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Fresh Students Guidence Center</title>
    <link rel="icon" href="/public/Images/Icons/favicon5.ico">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    

    <!-- bootstrap animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- FontAwsome Icons -->
    <script src="https://kit.fontawesome.com/92969b26ad.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Custom CSS Styles -->
    <link rel="stylesheet" href="/public/Styles//css/style.css">

</head>

<body>
  <%- include('preloader') %> 
  
<header>
        <!-- nav Logo Header -->
    <div class="logo">
        <img src="/public/Images/location.png" alt="LOGO" class="logo-img">
        <div class="title">
            <h1>Faculty Of Engineering and Technology</h1>
            <h2><a href="/"> Fresh Student Guidence Center</a></h2>
        </div>        
    </div>


    <nav class="navbar navbar-expand-md navbar-dark ">
      <div class="container-fluid">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <div class="navbar-toggler-line"></div>
        </button>
        <div class="collapse navbar-collapse  " id="navbarNavDropdown">
          <ul class="navbar-nav nv-padding">
            <li class="nav-item">
              <a class="nav-link"  aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="none">
                Departments <i class="fas fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/departments/software-engineering">Software Engineering</a></li>
                <li><a class="dropdown-item" href="/departments/information-technology">Information Technology</a></li>
                <li><a class="dropdown-item" href="/departments/electronics">Electronics</a></li>
                <li><a class="dropdown-item" href="/departments/telecommunication">Telecommunication</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/section/faqs">FAQS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>


            
          </ul>
        </div>
      </div>
    </nav>
    

</header>