<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Fresh Students Guidence Center</title>
        <link rel="icon" href="/public/Images/Icons/favicon5.ico">

        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/public/Styles/css/style.css">

</head>
<body>
<section class="page_404">
<div class="page_align">

<h1>404</h1>
<img src="/public/Images/404_2.gif" alt="Error">
<h2>Oops! Page Not Found</h2>
<p>The Page you are looking for not avaible! </p>
<a href="/"><button>Home Page</button></a>
</div>
</section>

</body>
</html>