<%- include('partials/nav') %> 



<section>
<div class="about_sectoin">

<div class="container">

<div class="main_card_align">

  <h2>Project Supervisor</h2>


  <div class="row ">    
        <div class="card__collection clear-fix">
          <div class="cards cards--two">
              <img src="/public/Images/Sir_dil_nawaz.jpg" class="img-responsive" alt="Teacher Image">
              <span class="cards--two__rect"></span>
              <span class="cards--two__tri"></span>
              <h3 class="heading-about">Dr Dil Nawaz Hakro</h3>
              <p class="heading-about">FET University of Sindh</p>
            </div>
            
        </div>
  </div>
</div>


<div class="main_card_align">
  <h2>Project Team Members</h2>
</div>
  <div class="team_cards">    
      <div class="row">
        
        <div class="col-lg-4">
            <div class="card p-0">
                <div class="card-image"> <img src="/public/Images/arshad.jpg" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <h4 class="pt-2 heading-about">Arshad Ali</h4>
                  <h4 class="heading-about">Roll: 2k18/SWE/22</h4>
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="https://www.facebook.com/"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="https://www.instagram.com/"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
          <div class="card p-0">
              <div class="card-image"> <img src="/public/Images/yar_muhammad.jpg" alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h4 class="pt-2 heading-about">Yar Muhammad</h4>
                <h4 class="heading-about">Roll: 2k18/SWE/127</h4>
                  <h5 class="heading-about">Lead Developer</h5>
                  <ul class="social-icons d-flex justify-content-center">
                      <li style="--i:1"> <a href="https://www.facebook.com/"> <span class="fab fa-facebook"></span> </a> </li>
                      <li style="--i:2"> <a href="https://www.instagram.com/"> <span class="fab fa-instagram"></span> </a> </li>
                  </ul>
              </div>
          </div>
      </div>

        <div class="col-lg-4">
            <div class="card p-0">
                <div class="card-image"> <img src="/public/Images/zubair.jpeg" alt=""> </div>
                <div class="card-content d-flex flex-column align-items-center">
                  <h4 class="pt-2 heading-about">Zubair Ahmed</h4>
                  <h4 class="heading-about">Roll: 2k18/SWE/132</h4>                   
                  
                    <ul class="social-icons d-flex justify-content-center">
                        <li style="--i:1"> <a href="https://www.facebook.com/"> <span class="fab fa-facebook"></span> </a> </li>
                        <li style="--i:2"> <a href="https://www.instagram.com/"> <span class="fab fa-instagram"></span> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>



</div>
</section>


<%- include('partials/footer') %>