<%- include('partials/preloader') %> 
<%- include('partials/dash_nav') %>






<div class="home-content">

  <div class="row overview-boxes">

    <div class="col-lg-3 col-md-6">
      <a href="/dashboard/User-contacts" class="card text-center">
        <div class="card-body">
          <h5 class="card-title">User Contact Info</h5>
          <img src="/public/Images/User_contact.png" class="img-fluid rounded-start" alt="...">
        </div>
      </a>
    </div>



    <div class="col-lg-3 col-md-6">
    <a href="/dashboard/update-timetable" class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Update Timetable</h5>
        <img src="/public/Images/timetable.png" class="img-fluid rounded-start" alt="...">
      </div>
    </a>
  </div>


    
  <div class="col-lg-3 col-md-6">
  <a href="/dashboard/new-user" class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Add New ID</h5>
      <img src="/public/Images/signup.png" class="img-fluid rounded-start" alt="...">
    </div>
  </a>
</div>


  </div>


</div>  
</section>

<%- include('partials/dash_footer') %> 



