<%- include('partials/dash_nav') %>

<div class="home-content">
  
  <div class="row overview-boxes">
    

    <h2 class="table_title">User Message</h2>

    <h3>Name: <%= name %> </h3>

    <h4 style="margin: 2rem;">Message:</h4>
    <p style="background-color: hsl(0, 0%, 100%); border: 1px solid hsl(0, 0%, 94%); border-radius: 10px; min-height: 10rem; padding: 2rem; font-size: 1.1rem;"> <%= message %></p>

  </div>

  </div>
</section>





<%- include('partials/dash_footer') %> 