<%- include('partials/dash_nav') %>






<div class="home-content">

  <div style="text-align: center; color: #0D47A1;" >

    <div class="alert alert-primary" role="alert">
      <h2><%= formtp %> </h2>
    </div>


  </div>


</div>  
</section>

<%- include('partials/dash_footer') %> 



