<%- include('partials/nav') %>



<section>
    <div class="container-md dean-section">
  
      <div class="row align-item">
  
        <div class="col-lg-4 col-md-5 btm-padding">
          <img src="/public/Images/dean_image.jpg" class="img-thumbnail img-fluid" alt="Dean_pic">
        </div>
  
        <div class="col-lg-6 col-md-6">
          <h1>Greetings</h1>
          <h3>Prof Dr. Khalil-Ur-Rehman Khoumbati</h3>
          <h4>Dean, Faculty Of Engineering & Technology<hr></h4>
          
          <p>In 2020, University of Sindh established an independent Faculty of Engineering and Technology (FET) by upgrading the status of Institute of Information and Communication Technology (IICT). The IICT has had a long, rich and efficacious history of being a premier institute for promoting education and dissemination of knowledge in the fields of Electronics, Telecommunications, Information Technology and Software Engineering at national and International Levels. Initially in 1998, Institute of Information</p>
            <p>Technology (IIT) was established by bifurcating the former Institute of Physics and Technology (IPT), which was in existence since 1979. Later in 2008, the IIT was re-designated as IICT. Faculty of Engineering and Technology is composed of an Institute and six departments: Prof. A. H. S. Bukhari Institute of Information and Communication Technology, Department of Electronics Engineering, Department of Telecommunication Engineering, Department of Information Technology, Department of Software Engineering, Department of Telemedicine and e-Health and Department of Industrial Electronics Engineering. A. H. S Bukhari Institute of Information and Communication Technology is an independent post-graduate institute offering MS/MPhil programs in disciplines of</p>
           <p>Electronics, Telecommunications, Information Technology and Software Engineering, and PhD degree program in Information Technology. Currently, over 300 students are enrolled in all MS/ MPhil and PhD programs. Department of Electronics Engineering and Department of Telecommunication Engineering</p>
           <p>offers a 4-year 8-semester undergraduate program, namely BS Electronics Engineering and BS Telecommunication Engineering and both these programs are accredited with Pakistan Engineering Council (PEC). Department of Information Technology and Department of Software Engineering offers a
            4-year 8-semester undergraduate program, BS Information Technology and BS Software Engineering respectively and both programs are accredited with the National Computing Education Accreditation Council (NCEAC). Both BS Information Technology and BS Software Engineering programs are offered
            in morning as well as in evening.</p>
            <p>Faculty of Engineering and Technology has an excellent infrastructure in terms of highly qualified faculty members (there are around as many as 20 PhD faculty members and most of them have earned their degrees from educationally advanced countries), well-equipped state-of-the-art laboratories catering the needs of practical component of all undergraduate and graduate program courses, spacious class rooms, multimedia facilities, computerized internal library with  bundant and latest editions of books, journals and magazines. The Faculty of Engineering and Technology infrastructure also provides access to digital libraries including IEEE, ACM, Elsevier, and Springer Link subscription, and it has also its own Research Journal named University of Sindh Journal of Information and Communication Technology (USJICT). Realizing the tremendous potential of technology entrepreneurship, FET has adopted a proactive role for supporting entrepreneurship through establishment of Technology Incubation Center and Industry Liaison Desk.</p>
            <p class="fet_message">The mission of the Faculty of Engineering and Technology (FET) is to provide dynamic learning with quality education through rigorous teaching and research methodologies in Engineering and Technology disciplines. Academic programs with quality curricula focus to forge professionals, experts and scholars</p>
            <p>in the field of Information Technology, Telecommunication Engineering, Electronics Engineering, Software Engineering, Telemedicine &amp; E-Health and Industrial Electronics Engineering. It aims to foster such values amongst its academia, undergraduates and graduate scholars, ensuring a place of pride in the
                world of learning.</p>
            
            <a href="/" type="button" class="btn ">Back Home</a>
        </div>
      </div>
  
  </div>
  </section>



<%- include('partials/footer')  %>