<%- include('partials/nav') %>

<section>
  
    <div class="container-md dept_Chairman align-item">
  
      <div class="row align-item">
  
        <div class="col-lg-3 col-md-5 btm-padding">        
          <img src="/public/Images/Mudasir_Ahmed_Memon.jpg" class="img_effects img-fluid img-thumbnail">
        </div>
  
        <div class="col-lg-6 col-md-6">
          <h1>Greetings</h1>
          <h3>Dr. Mudasir Ahmed Memon</h3>
          <h4>Incharge Chairman Department of Electronics<hr></h4>
          
          <p>I welcome you to the Department of Electronics. Learning is never done without errors and defeat.</p>
        </div>
      </div>

      


      <div class="row message_heading">
        <h2 class="">About Department Of Electronics</h2>
      </div>

      <div class="row message_section align-item">        
          <div class="col-lg-4 md_align">
              
              <img src="/public/Images/fet_logo.png" class="fet_logo" alt="">
          </div>

          <div class="col-lg">
            <p>The extensive applications of electronic devices and systems play a vital role in the development of the 
              socio-economic growth of the country. It is the field where the world's best talent meets the most, creative 
              ideas are most active, and competitiveness for inventions is fiercest. This led the University of Sindh to start 
              B.Sc. and M.Sc. Electronics Programmemes in 1979 under the umbrella of the Institute of physics and technology 
              (IPT). The IPT was pioneer in Sindh province to provide training and educating the individuals to harness the full 
              potential of the discipline. Later, the IPT was bifurcated to the Institute of information technology (IIT) in 
              1998. The department of Electronics started to offer 4 years BS degree in electrics in 2002. Later the 
              nomenclature of the Institute was re-designated as Institute of Information and Communication Technology (IICT). 
              In 2020 IICT was upgraded to the Faculty of Engineering and Technology (FET) to extend its scope in the field of 
              engineering and technology. As a result of this the nomenclature of Department of Electronic was changed to 
              Department of Electronic Engineering (DEE) and got accredited by the Pakistan Engineering Council (PEC). DEE also 
              offers M.E in Electronic engineering under the shelter of DR. A. H. S. Bukhari Institute of Information and 
              Communication Technology.
              </p>
              
              <p>The infrastructure of the department meets all the criteria of conducive learnings. 
                The classrooms are spacious, well-furnished and equipped with the multimedia facility. 
                The state-of-the-art laboratories with latest hardware and software tools facilitate students 
                in learning all theoretical concepts experimentally. Moreover, the library suffices the complete 
                information resource such as; textbooks with latest editions, technology magazines and online 
                platforms to access research articles worldwide. Based on the competence and achievements of its 
                discipline, DEE owns a very high reputation in the Electronic research community across the country.</p>

                    </div>
  
  </div>
  </section>


  <%- include('partials/footer')  %>