<%- include('partials/nav') %>

<section>
  
    <div class="container-md dept_Chairman align-item">
  
      <div class="row align-item">
  
        <div class="col-lg-3 col-md-5 btm-padding">        
          <img src="/public/Images/Sir_kamran_tajj_pathan.jpg" class="img_effects img-fluid img-thumbnail">
        </div>
  
        <div class="col-lg-6 col-md-6">
          <h1>Greetings</h1>
          <h3>Dr. Kamran Taj Pathan</h3>
          <h4>Chairman Department Software Engineering<hr></h4>
          
          <p>My dear students welcome to the Department of Software Engineering. We work for your excellence.</p>
        </div>
      </div>

      


      <div class="row message_heading align-item">
        <h2 class="">About Department Of Software Engineering</h2>
      </div>

      <div class="row message_section ">

          <div class="col-lg-3 logo_section">
              
              <img src="/public/Images/fet_logo.png" class="fet_logo" alt="">
          </div>

          <div class="col-lg main_messages">
            <h2 class="main_oblective">Main Objectives</h2>
            <p>The main objectives of Department of Software Engineering is to impart quality education to the students following
                a strong and coherent program that equip them with latest skills for industry and research activities,
                train them to contribute effectively towards the society through problem solving skills, application of engineering
                knowledge and leadership and lifelong learning attitude after completion of their degree.</p>
          
              <br>
              <p>
                In 1998, the former Institute of Physics and Technology which existed since 1979 was bifurcated,
                 giving birth to the Institute of Information and Technology (IIT),
                  which was among the first few institutes of the Pakistan of its kind offering a 4-year 8-semester
                   undergraduate program in Software Engineering. Over time it has undergone a number of revamps
                    and currently Department of Software Engineering is one of the constituent departments of
                     the recently established Faculty of Engineering and Technology which offers a 4-year 8-semester
                      undergraduate program in BS Software Engineering.
              </p></div>

              <p>
                BS Software Engineering program is offered in Morning as well as in Evening shift and has been accredited with the National 
                Computing Education Accreditation Council (NCEAC), an authority setup by Higher Education Commission (HEC) 
                Pakistan to ensure quality in degree programs to meet certain defined standards or criteria that are accepted worldwide.
              </p>
              <p>Department of Software Engineering has a highly qualified faculty,
                   most of whom have earned their PhD degree from international universities of high stature and are up to date
                    with the latest research trends. The Department is well equipped with state-of-the-art software,
                     hardware, and communication laboratories along with the seminar library having access to digital library
                      to cater the needs of theoretical and practical components of the courses.</p>

           
  
  </div>
  </section>


  <%- include('partials/footer')  %>