<%- include('partials/nav') %>

<section>
  
    <div class="container-md dept_Chairman align-item">
  
      <div class="row align-item">
  
        <div class="col-lg-3 col-md-5 btm-padding">        
          <img src="/public/Images/dr_abdul_waheed_mahesar.png" class="img_effects img-fluid img-thumbnail">
        </div>
  
        <div class="col-lg-6 col-md-6">
          <h1>Greetings</h1>
          <h3>Dr. Abdul Waheed Mahesar</h3>
          <h4>Chairman Department of Information Technology<hr></h4>
          
          <p>It is my pleasure and privilege to welcome you on behalf of the faculty and staff of the department
             of Information Technology at Faculty of Engineering and Technology, University of Sindh, Jamshoro, Pakistan.</p>
        </div>
      </div>

      


      <div class="row message_heading">
        <h2 class="">About Department Of Information Technology</h2>
      </div>

      <div class="row message_section align-item">        
          <div class="col-lg-3 logo_section">
              
              <img src="/public/Images/fet_logo.png" class="fet_logo" alt="">
          </div>

          <div class="col-lg">
            <h2 class="main_oblective">Main Objectives</h2>
            <p>The main objective of the Department of Information Technology is to provide quality education and research
               opportunities to the students and to instill in them critical, rational, analytical thinking and a civic
                sense so that they become socially responsible citizens and truly educated graduates after completion
                of their BS Information Technology Programmemes.</p>
         
              <br>
              <p>
                In 1998, the former Institute of Physics and Technology (IPT) which existed since 1979 bifurcated giving birth
                 to the Institute of Information Technology (IIT). The IIT was among a very few first institutes of the Pakistan
                  which offered a 4-year 8-semesters undergraduate Programmemes in Computer and Information Technology called BCIT.
                   Over the time it has undergone a number of revamps and currently Department of Information Technology is one of the
                    constituent departments of the recently established Faculty of
                 Engineering and Technology which offers a 4-year 8-semester undergraduate Programmemes BS Information Technology.
              </p> </div>

              <p>
                Department of Information Technology has a highly qualified faculty most of whom have earned their Ph.D degree
                 from international universities of high stature. The Department is also equipped with state-of-the-art hardware
                  and software laboratories catering the needs of practical component of the courses. The curriculum of BS Information
                   Technology Programmemes includes, in addition to fundamental core Information technology courses, a number of advanced
                    courses focusing on new emerging computing paradigms such as Mobile and Pervasive Computing, Cloud Computing, Information
                     security, smart technologies, human computer interface design (HCI), management of large scale IT infrastructure projects
                      etc. in line with HEC guidelines. BS Information Technology Programmemes has recently been accredited with the
                 National Computing Education Accreditation Council (NCEAC) and the Programmemes is offered in morning as well as in evening.
              </p>

           
  
  </div>
  </section>


  <%- include('partials/footer')  %>