<%- include('partials/nav') %>

<section>
  
    <div class="container-md dept_Chairman align-item">
  
      <div class="row align-item">
  
        <div class="col-lg-3 col-md-5 btm-padding">        
          <img src="/public/Images/Dr-Sandar-Ali-Khowaja_pic2.jpg" class="img_effects img-fluid img-thumbnail">
        </div>
  
        <div class="col-lg-6 col-md-6">
          <h1>Greetings</h1>
          <h3>Dr. Sandar Ali Khowaja</h3>
          <h4>Incharge Chairman Department of Telecommunication<hr></h4>
          
          <p>We provide a conducive environment for both students and teachers.
             You will find our administrative staff courteous and attentive to solve your problems.
              The highly qualified faculty of BS Telecommunication Engineering is always happy to help you with your academic issues.
               If you are a prospective student,
             I would highly urge you to visit our department’s website or visit the department in person to explore its potential.</p>
        </div>
      </div>

      


      <div class="row message_heading">
        <h2 class="">About Department Of Telecommunication</h2>
      </div>

      <div class="row message_section align-item">        
          <div class="col-lg-4 md_align">
              
              <img src="/public/Images/fet_logo.png" class="fet_logo" alt="">
          </div>

          <div class="col-lg">
            <p>Initially, in 1980, the University of Sindh started to offer a one-year M.Sc. in Telecommunication 
              program under the umbrella of the Institute of physics and technology (IPT). The BS Telecommunication 
              program was introduced in 1998 at the Institute of Information and Communication Technology. With the 
              rising demand for Engineering technologies and the Telecommunication sector, the University of Sindh revamped 
              the Department of BS Telecommunication Engineering at Faculty of Engineering and Technology in 2019. 
              The Department offers the courses in line with the Pakistan Engineering Council (PEC) guidelines and has been 
              approved by the concerned authority, accordingly. The main objective of this department is to produce 
              high-quality telecommunication professionals in numerous specialized areas such as Mobile and Wireless 
              Communications, Multimedia and Broadband Communication, Fiber Optics, Satellite communication, and Complex 
              Electronic Switching Systems, Data coding, and Embedded systems. With the convergence of Information and 
              Telecommunication Technology, an interdisciplinary aspect has been integrated throughout the educational 
              varsities. In this regard, the Telecommunication Engineering department offers courses in programming languages,
               emerging topics such as computer vision, image processing, and so forth to keep pace with the technological 
               changes. The graduates of this department have left a positive footprint in leading Telecom and IT industries 
               of Pakistan.</p>
          </div>

           
  
  </div>
  </section>


  <%- include('partials/footer')  %>