<%- include('partials/nav') %> 


<section>

<div class="faq_section">
    <div class="container">

    <div class="accordion accordion-flush" id="accordionFlushExample">


        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed faq_heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                What is the aim of FET?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body faq_text">The mission of the Institute is to provide dynamic learning with quality education through rigorous teaching and research methodologies in Information and Communication Technologies (ICT).</div>
        </div>
        </div>
    
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed faq_heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Which programs available in FET?
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body faq_text">Academic programs are available in the field of Information Technology, Software Engineering Tele Communication, and Electronics</div>
        </div>
        </div>
    
        <div class="accordion-item">
        <h2 class="accordion-header " id="flush-headingThree">
            <button class="accordion-button collapsed faq_heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                How many classes are to be conducted in Online courses ?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body faq_text">Since the classes were suspended from first March, therefore from January to February it is expected that 8 weeks of classes have been conducted. The remaining 8 weeks from 9 to 16 shall be completed using Online Virtual Classroom.</div>
        </div>
        </div>
    
        <div class="accordion-item ">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed faq_heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    If there is problem in using the LMS, how we can get help or whom shall we contact.
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body faq_text">There are numerous Video Tutorials made to guide you regarding using various features of LMS in detail. These tutorials can be accessed at lms.usindh.edu.pk/tutorials. <br>Further Queries and issues can be directed to Director ITSC <b>Dr. Yasir Arfat Malkani </b> at <b>(director.itsc@usindh.edu.pk)</b>.</div>
            </div>
            </div>


            <div class="accordion-item ">
                <h2 class="accordion-header" id="flush-headingFive">
                    <button class="accordion-button collapsed faq_heading" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Do we need to follow time table strictly? class time duration ?
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body faq_text">Yes, Each faculty is required to conduct Online Virtual Class as per scheduled. If the class are pre-recorded, then still at least once a week a Virtual Live Online class is required to be conducted for Question and Answer Session. This class needs to be recorded an uploaded on LMS, as required by HEC as well.</div>
                </div>
                </div>
    
    
    </div>


</div>
</div>
</section>


<%- include('partials/footer') %> 





