<%- include('partials/nav') %>



<section class="main-landing">
    
  <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active main-box-size overlay" data-bs-interval="5000">
        <img src="/public/Images/image_fet.jpg" class="d-block img-size " alt="...">
                <div class="carousel-caption  d-md-block">
          <h5 >First slide label</h5>
          <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque et pariatur cupiditate</p>
        </div>
      </div>
      <div class="carousel-item main-box-size overlay " data-bs-interval="5000">
        <img src="/public/Images/1607957692_552.jpg" class="d-block img-size" alt="..." style="animation-delay: none">
        <div class="carousel-caption d-md-block">
          <h5 class="animate__animated animate__pulse">Second slide label</h5>
          <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet consectetur, nihil quasi consectetur assumenda architecto velit quaerat,</p>
        </div>
      </div>
      <div class="carousel-item main-box-size overlay" data-bs-interval="5000">
        <img src="/public/Images/1608593979_186.jpg" class="d-block img-size" alt="...">
        <div class="carousel-caption d-md-block">
          <h5 class="animate__animated animate__slideInDown">Third slide label</h5>
          <p class="animate__animated animate__fadeInDown">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque et pariatur cupiditate 
            nihil quasi</p>
        </div>
      </div>
      <div class="carousel-item main-box-size overlay " data-bs-interval="5000">
        <img src="/public/Images/1608593907_290.jpg" class="d-block img-size" alt="...">
        <div class="carousel-caption d-md-block">
          <h5 class="animate__animated animate__zoomIn">Fourth slide label</h5>
          <p class="animate__animated animate__slideInUp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque et pariatur cupiditate 
            nihil quasi,</p>
        </div>
      </div>
      <div class="carousel-item main-box-size overlay" data-bs-interval="5000">
        <img src="/public/Images/image_lab.jpg" class="d-block img-size" alt="...">
        <div class="carousel-caption d-md-block ">
          <h5 class="animate__animated animate__slideInDown">Fifth slide label</h5>
          <p class="animate__animated animate__slideInDown">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti atque et </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</section>

<section>
  <div class="container-md dean-section">

    <div class="row align-item">

      <div class="col-lg-4 col-md-5 btm-padding">        
        <img src="/public/Images/dean_image.jpg" class="img_effects img-fluid img-thumbnail">
      </div>

      <div class="col-lg-6 col-md-6">
        <h1>Greetings</h1>
        <h3>Prof Dr. Khalil-Ur-Rehman Khoumbati</h3>
        <h4>Dean, Faculty Of Engineering & Technology<hr></h4>
        
        <p>In 2020, University of Sindh established an independent Faculty of Engineering and Technology (FET) by upgrading the status of Institute of Information and Communication Technology (IICT). The IICT has had a long, rich and efficacious history of being a premier institute for promoting education and dissemination of knowledge in the fields of Electronics, Telecommunications, Information Technology and Software Engineering at national and International Levels. Initially in 1998, Institute of Information
          Technology (IIT) was established by bifurcating the former Institute of Physics and Technology (IPT), which was in existence since 1979. Later in 2008, the IIT was re-designated as IICT. Faculty of Engineering and Technology is ...</p>
          <a href="/home/dean_message" type="button" class="btn ">Read More</a>
      </div>
    </div>

</div>
</section>

<section>

  <div class="container-fluid map-section">
<div class="row map-align">

  <div class="col-lg-7" style="background-color: red;">
    <h1>maps</h1>
  </div>

  <div class="col-lg-3" style="background-color: green;">
    <h1>maps</h1>
  </div>

  

</div>
    



  </div>

</section>


<%- include('partials/footer')  %>