<%- include('partials/preloader') %> 
<%- include('partials/nav') %>



<!-- main Section -->


<%- include('pages/landing') %>

<!-- Dean Section -->
<section>
  
  <div class="container-md dean-section">

    <div class="row align-item">

      <div class="col-lg-4 col-md-5 btm-padding">        
        <img src="/public/Images/dean_image.jpg" class="img_effects img-fluid img-thumbnail">
      </div>

      <div class="col-lg-6 col-md-6">
        <h1>Greetings</h1>
        <h3>Prof Dr. Khalil-Ur-Rehman Khoumbati</h3>
        <h4>Dean, Faculty Of Engineering & Technology<hr></h4>
        
        <p>In 2020, University of Sindh established an independent Faculty of Engineering and Technology (FET) by upgrading the status of Institute of Information and Communication Technology (IICT). The IICT has had a long, rich and efficacious history of being a premier institute for promoting education and dissemination of knowledge in the fields of Electronics, Telecommunications, Information Technology and Software Engineering at national and International Levels. Initially in 1998, Institute of Information
          Technology (IIT) was established by bifurcating the former Institute of Physics and Technology (IPT), which was in existence since 1979. Later in 2008, the IIT was re-designated as IICT. Faculty of Engineering and Technology is ...</p>
          <a href="/home/dean_message" type="button" class="btn ">Read More</a>
      </div>
    </div>

</div>
</section>



<!-- Information Section -->
<section class="information_section">

  <div class="container-fluid">


<div class="row ">

      <div class="Services">
          <h1> Find Services</h1>


          <div class="Search_box">
            

              <div class="input-group rounded mb-3">

                <input type="text" class="form-control" placeholder="Looking for Something"
                aria-label="Recipient's username" aria-describedby="button-addon2" required id="find_info" 
                onkeyup="searchFun()">

                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
              </div>


          </div>
      </div>


    




    

    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/ehsass" class="card_link_info"> 
        <img src="/public/Images/info-cards/ehsas.jpeg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">EHSAAS Undergraduate Scholarships, How to apply?</h5> 
          <p class="">Ehsaas Undergraduate Scholarships Project is a fully funded financial assistance scheme which 
            offers an opportunity to the meritorious and financially deserving students, 
            especially females and persons with different abilities to continue higher education in a choice of their 
            university.</p></a>
      </div>
      </div>
    </div>
  
    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/lms" class="card_link_info"> 
        <img src="/public/Images/info-cards/lms_cover.jpg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">What is Learning Management System?</h5> 
          <p class="">Information Technology Services Centre (ITSC) was established in 2018 with the vision that there
             should be a centralized IT center, which will provide best IT facilities to all the stake holders of the 
             University of Sindh in an efficient and centralized manner. Since its inception, ITSC has achieved remarkable
              milestones provided numerous Online services to the Faculty and Students of University of Sindh</p></a>
      </div>
      </div>
    </div>

    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/ehsass" class="card_link_info"> 
        <img src="/public/Images/info-cards/Ehsaas-Scholarship-Program-id.jpg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">SignUp for EHSAAS Undergraduate Scholarship Program</h5> 
          <p class="">Ehsaas Undergraduate Scholarships Project is a fully funded financial assistance scheme which 
            offers an opportunity to the meritorious and financially deserving students, 
            especially females and persons with different abilities to continue higher education in a choice of their 
            university.</p></a>
      </div>
      </div>
    </div>



    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/scholarships" class="card_link_info"> 
        <img src="/public/Images/info-cards/scolarship-cover.jpg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">Scholarship Programs</h5> 
          <p class="">The University admits a large number of students, majority belonging to rural areas and disadvantaged 
            poor families, realizing that education has become very costly and it is difficult for them to pursue their 
            education due to financial constraints. The University has taken initiative for providing financial relief to 
            meritorious and deprived students with the financial assistances/need based scholarship programs.</p></a>
      </div>
      </div>
    </div>

    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/student-welfare" class="card_link_info"> 
        <img src="/public/Images/info-cards/student-welfare.jpg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">Student Welfare</h5> 
          <p class="">The University deems it obligatory to look after the welfare of the students admitted to its various programs. All efforts are made to facilitate students stay at the Campus and provide opportunities for wholesome development of students personalities. Directorate of Students Affairs has been established to provide necessary guidance and assistance.</p></a>
      </div>
      </div>
    </div>



    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="https://usindh.edu.pk/career-opportunities/" class="card_link_info"> 
        <img src="/public/Images/info-cards/career-1.jpg" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title">Career Opportunities</h5> 
          <p class="">The applicants should possess First Class or  CGPA in BS (4 years)/Master degree in the relevant field, having Sixteen (16) years of education from any HEC recognized University and having no 3rd division / D grade in academic career.

            Priority will be given to candidates having MPhil/MS degree in the relevant field or at least registered in any HEC recognized University as MPhil / PhD Research scholar.</p></a>
      </div>
      </div>
    </div>



    <div class="col col-lg-3 col-md-4 info_cards">        
      <div class="card" style="width: 20rem;">
      <a href="/info/US-SCDC" class="card_link_info"> 
        <img src="/public/Images/info-cards/US-SCDC.png" class="img-thumbnail" alt="thumb">
        <div class="card-body">
           <h5 class="card-title info_title"> Skills and Career Development Center</h5> 
          <p class="">Academia and industry have been collaborating for over a century worldwide, but the rise of global 
            knowledge economy has intensified the need for strong relationship and bridging up the gap between academia and 
            industry. Unfortunately, in Pakistan generally and in Sindh specifically, most of our universities are lagging behind 
            on this collaboration and are failed to keep pace with industry due to their old fashioned and traditional curriculum 
            and teaching methods. As there is competition in industry, </p></a>
      </div>
      </div>
    </div>

</div>
</div> 

</section>




<!-- Map Section -->
<section id="map_section">

  <div class="container-fluid map-section">

    <div class="tilt_effect">
      <svg data-name="Layer 1" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
      </svg>
  </div>


<div class="row map-align">

  <div class="col-lg-8 col-md-12">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1cCy5yqG1hq5oI30KO8d0o5NBiJfHNSZz" loading="lazy"></iframe>
  </div>

  <div class="col-lg-4 col-md-12 align_card">

    <div class="card">     
      <div class="image">        
      <img src="/public/Images/fet_logo.png" class="card-img-top" alt="FET Logo" loading="lazy"></div>
      <div class="card-body"> 
        <h2 class="card-title">Welcome To Faculty of Engineering and Technology</h2>
        <h3 class="card-title">A door to Success</h3>       
        <p class="card-text">“Education is the foundation upon which we build our future.” Christine Gregoire</p>
      </div>

      <h3 class="take_tour">Take a Tour</h3>
      <div class="btn-group take_tour" role="group" aria-label="Basic mixed styles example">
         <a href="https://goo.gl/maps/c9FN8nEAL1MqezGB6" class="take_tour"><button type="button" class="btn btn-primary">Fet</button></a>
       <a href="https://goo.gl/maps/EpLRquQ5T3PPssRC6" class="take_tour"><button type="button" class="btn btn-success">FET Lawn</button></a>
      </div>


    </div>    
  </div>
  

</div> 

<div class="tilt_effect_bottom">
  <svg data-name="Layer 1" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
  </svg>
</div>
</section>


<!-- department-section -->

<section>

<div class="container-fluid department-section">
  <div class="row ">
    <div class="col-lg align-item">
      <h2>Faculty Of Engineering and Technology</h2>
      <h3>Departments</h3>
    </div>
  </div>
  <div class="row">

    <div class="cards-container">
      
      <div class="box">
        <a href="/departments/software-engineering" class="card">
          <div class="imgBx">
              <img src="/public/Images/Software-Engineering.jpg" alt="images">              
          </div>          
          <div class="details">
              <h2>Software Engineering</h2>
          </div>
        </a>
      
         <a href="/departments/information-technology" class="card">
           <div class="imgBx">
              <img src="/public/Images/Information-Technology.jpg" alt="images">
           </div>
           <div class="details">
              <h2>Information Technology</h2>
            </div>
         </a>
  
         <a href="/departments/electronics" class="card">
           <div class="imgBx">
              <img src="/public/Images/Electronics.jpg" alt="images">
           </div>
           <div class="details">
              <h2>Electronics</h2>
            </div>
         </a>

         <a href="/departments/telecommunication" class="card">
          <div class="imgBx">
             <img src="/public/Images/telecommunication.jpg" alt="images">
          </div>
          <div class="details">
             <h2>Telecommunication</h2>
           </div>
        </a>
   
    </div>
      
    </div>


</div>
</div>
</section>

<!-- Helpfull link Section -->

<section id="link_section">
  <div class="triangle-top">
    <svg data-name="Layer 1" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
    </svg>
  </div>

<div class="parallex">

<div class="links_section">
<!-- start here -->

    <h2 class="link_headaing">Helpful Links</h2>
<div class="row link_container">

  <div class="col-lg-8 col-md-8 card_section">
    

    <div class="box">
      <div class="card">
        <a href="https://lms.usindh.edu.pk/">
        <div class="imgBx">
            <img src="/public/Images/lms.png" alt="images">
        </div>
        <div class="details">
            <h2>LMS</h2>
            <p>Online learning Management</p>
        </div>
      </a>
      </div>
    
       <div class="card">
        <a href="https://fet.usindh.edu.pk/">
         <div class="imgBx">
            <img src="/public/Images/fet.png" alt="images">
         </div>
         <div class="details">
            <h2>Faculty</h2>
            <p>Faculty Site for more Information</p>
          </div>
        </a>
       </div>

       <div class="card">
         <a href="https://usindh.edu.pk/">
         <div class="imgBx">
            <img src="/public/Images/usindh.png" alt="Usindh">
         </div>
         <div class="details">
            <h2>Usindh </h2>
            <p>Official Usindh site</p>
          </div>
        </a>
       </div> 

       <div class="card">
         <a href="https://www.facebook.com/uosindh">
        <div class="imgBx">
          <img src="/public/Images/news.png" alt="News">
        </div>
        <div class="details">
          <h2>Usindh News</h2>
          <p>Check daily Updates </p>
        </div>
      </a>
      </div>


      <div class="card">
        <a href="https://exam.usindh.edu.pk/">
       <div class="imgBx">
         <img src="/public/Images/academic.png" alt="Academic">
       </div>
       <div class="details">
         <h2>Academic</h2>
         <p>Check your semester Result</p>
       </div>
     </a>
     </div>


     <div class="card">
      <a href="https://drgs.usindh.edu.pk/">
     <div class="imgBx">
       <img src="/public/Images/Graduate_Studies.png" alt="Graduate Studies">
     </div>
     <div class="details">
       <h2>Research & Graduate Studies</h2>
     </div>
   </a>
   </div>

      
  </div>
  
  
  
  
  
  </div>


  <div class="col-lg-4 align-self-center quick_link_section">
    
    
    
    <div class="card">
  <div class="card-body">
    <h3 class="card-title">Quick Links</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/section/faqs" class="quick_link"> FAQs</a></li>
      <li class="list-group-item"><a href="https://fet.usindh.edu.pk/Home/gallery" class="quick_link"> FET Gallery</a></li>
      <li class="list-group-item"><a href="https://iict.usindh.edu.pk/time-table" class="quick_link">Timetable</a></li>
      <li class="list-group-item"><a href="https://iict.usindh.edu.pk/all-noticeboards" class="quick_link">All Noticeboards</a></li>      
      <li class="list-group-item"><a href="https://iict.usindh.edu.pk/iict-faculty" class="quick_link">FET Members</a></li>
      <li class="list-group-item"><a href="https://fet.usindh.edu.pk/Home/job_vacancy" class="quick_link">Job Vacancies</a></li>
       
    </ul>
    
    
    
  </div>
  </div>
    
  
  
  
  </div>

</div>


<!-- end here -->
</div>    
</div>
</section>



<%- include('partials/footer')  %>