<%- include('partials/nav') %>


<section>
<div class="login_section">

    <div class="row">
        
  <form method="POST">
    <%- include('partials/errormessage')  %> 
    <h1 class="h3 mb-3"><span class="admin_text">Admin</span> Login</h1>
    <label for="emailAddress" class="sr-only" >Email address</label>
    <input type="email" name="email" id="emailAddress" class="form-control mb-3" placeholder="Email" required autofocus>
    <label for="Password" class="sr-only" >Password</label>
    <input type="password" name="password" id="Password" class="form-control" placeholder="Password" required autofocus>
    
    <div class="form-check form-switch mt-3">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault"><p id="show3">Show Password</p></label>
    </div>

    <div class="mt-3">
      <button class="btn btn-large btn-primary" type="submit">Log In</button>
    </div>
   

  </form>

    </div>
   
</div>
</section>




<%- include('partials/footer') %>