<%- include('partials/nav') %>


<section>
<div class="login_section">

    <div class="login">
        <span class="error animated tada" id="msg"><p>ccdk</p></span>
        <form action="/" name="login" class="box">
          <h4>Admin<span> Dashboard</span></h4>
          <h5>Log in to your account.</h5>
            <input type="text" name="email" placeholder="Email" autocomplete="off">
            <i class="typcn fas fa-eye" id="eye"></i>
            <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">            
            
            <input type="submit" value="Log in" class="btn1">
          </form>
    </div>
   
</div>
</section>




<%- include('partials/footer') %>