@keyframes slideDown{
    0% {
        transform: translateY(-20%) scaleY(.8);
        opacity: .8;
    }

    100% {
        transform: translateY(0%) scaleY(1);
        opacity: 1;
    }
}

@keyframes slideUp{
    0% {
        transform: translateY(0%) scaleY(1);
        opacity: .8;
    }

    100% {
        transform: translateY(-20%) scaleY(.8);
        opacity: 1;
    }
}

@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }


}