.timetable_img{
    height: 5rem;
    width: 8rem;
}

.btn_timetable{
    margin: 2rem 0;
}


.center_align_item{
    display: flex;
    justify-content: center;
    align-items: center;
.update_form{
    width: 50%;

.space_item{
    margin: 2rem 0;
}

}

}