
header{
    
    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }



    .logo{
    border-top: 6px solid $blue-900;
    width: 100%;
    display: flex;
    align-items: center;
    height: 10rem;

    .logo-img{
        padding: 0 1.5rem;
        height: 5rem;
        width: 8rem;

    }

    .title{        
        font-family: $nav-fonts;
        h1{
            font-size: clamp(1.2rem, 2.1vw ,1.6rem);
            font-weight: 700;
            letter-spacing: 0;   
                     
            
            
        }
        h2{
            font-size: clamp(1rem, 1.4vw, 1.2rem);
            font-weight: 600;
            letter-spacing: 0;            
            
        }
        
    }
    }


}

.navbar{
    font-family: $font-primary;
    background-color: $blue-900;

    //button animations

    .navbar-toggler{
        border: 1px solid $color-white;
        cursor: pointer;
        width: 1.8em;
        height: 1.8em;
        padding: 0 0 0.15em 0.25em;        
        transition: all .5s ease-in-out;

    }

    .navbar-toggler-line,
    .navbar-toggler-line::after,
    .navbar-toggler-line::before{
        width: 1.5rem;
        height: .2rem;
        background-color: $color-white;
        border-radius: 5px;
        position: absolute;
        transition: all .5s ease-in-out;
    }

    .navbar-toggler-line::before{
        content: '';
        display: block;
        transform: translateY(-7px);
    }

    .navbar-toggler-line::after{
        content: '';
        display: block;
        transform: translateY(7px);
    }

   .navbar-toggler.collapsed .navbar-toggler-line{
            transform: translateX(-15px);
            background-color: transparent;
        }

    .navbar-toggler.collapsed .navbar-toggler-line::before{
        transform: rotate(45deg) translate(10px, -10px);

    }
    .navbar-toggler.collapsed .navbar-toggler-line::after{
        transform: rotate(-45deg) translate(10px, 10px);
    }
    

    //button animations end

    .dropdown-toggle::after{
        transition: .3s;
        
    }
 
}
.navbar-nav .nav-item .nav-link{
        
        border-radius: 5px;
        color: $nav-font-color;
        font-size: .9rem;
        &:hover{
        transition: .3s;
        color: $color-white;
        background-color: $blue-700;
        }
}

.nav-item{
    padding: 0 1.4rem;
}


 .dropdown-menu{
    background-color: $blue-800;
    animation: slideDown .2s ease-in 1;
    
}


.fas{
    transition: .3s;
}

.nav-link[aria-expanded="true"] {

    .fas{
        transform: rotate(90deg);
    }

    }

    

.dropdown-item{
    padding: .7rem;
    font-size: .8rem;    
    color: $nav-font-color;
    transition: .3s;

    &:hover{
        color: $color-white;
        background-color: $blue-600;
        

    }    
}

