.main-landing{
    .overlay{  
        background-color: black;
         
    }

    .main-box-size{
        height: 80vh;
        width: 100%;      

        
    .img-size{    
        height: 100%;
        width: 100%;
        object-fit: cover;     
        opacity: 0.68;
    }

    }

    .carousel-caption{
        font-family: $font-primary;
        bottom: 30%;        
        margin: auto;


        h5{
            padding: 0 5rem 0 0;
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
            letter-spacing: 2px;
            font-size: clamp(30px, 4vw, 50px);
            text-shadow: -3px 1px 8px rgba(0,0,0,0.82);
            animation-delay: .3s;
            animation-duration: .8s;
            

        }

        p{
            width: 40rem;
            font-size: 1.1rem;
            text-shadow: -3px 1px 8px rgba(0,0,0,0.82);
            line-height: 1.7;
            animation-delay: .4s;
            animation-duration: 1s;
            text-align: left;
        }
    }


    

    .take_tour{
        font-family: $font-primary;
        button{        
        font-size: 1.2rem;
        transition: .4s;
        &:hover{
          transition: .4s;
          transform: scale(1.1);
        }
        }
      }

}


