.map-section{
    padding: 5rem 2.1rem;
    // background-color: hsl(0, 17%, 95%);
    background: url('/public/Images/AC_side_darkoverlay.jpg') no-repeat fixed 100%;
    
    background-size: cover;
    background-position: center;
}

.map-align{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    padding: 3rem 2rem;
}

iframe{
    height: 35rem;
    width: 100%;
    clip-path: polygon(0% 10%,100.00% 9.00%,100% 100%,0% 100%);

}

.align_card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  padding: .5rem 0;
    background-color: hsl(0, 17%, 95%) ;
    border: none;
    font-size: $font-primary;
    width: 80%;
    .card-text{
        text-align: justify;
        font-size: 1rem;
        margin-top: -30px    
    }
    .card-title, .card-text{
        padding: 1rem 2rem;
    }




.image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 2rem;
}

.card-img-top{
    height: 10rem;
    width: 11.5rem;
}

}


.tilt_effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt_effect svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 129px;
}

.tilt_effect .shape-fill {
  fill: #FFFFFF;
}


.tilt_effect_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.tilt_effect_bottom svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 129px;
}

.tilt_effect_bottom .shape-fill {
  fill: #FFFFFF;
}
#map_section{
  position: relative;
}