
@media only screen and (max-width: 768px) {
    .logo{
        justify-content: center;
        flex-direction: column;  
        height: 300px;
        .logo-img{    
            height: 5rem;
            width: 8rem;
        }
    
        .title{
            text-align: center;
            
        }
    }


    .navbar-nav .nav-item {
        
        .dropdown-item{
            padding: 1.2rem 1rem;
        }

        .nav-link{
            padding: 1.2rem 1rem;
    
        }
    }
    
    
//dean_section

    .btm-padding{
        padding-bottom: 3rem;
    }

    section .dean-section{        
        padding: 5rem 7rem;
    }


//map_section

    .map-section{
        padding: 5rem 5rem;
    }

    .card{
        margin-top: 1rem;
        h2{
            font-size: 1.5rem;
        }
        .card-title, .card-text{
            padding: 1rem .5rem;            
            text-align: left;
        }
    
        .card-img-top{
            padding-top: 1.5rem;
            width: 10rem;
        }
    
    }


//Departemtn Section
.md_align{
    display: flex;
    align-items: center;
    justify-content: center;
}

//contact_us

.contact_us{
    .social_icon{
        height: 4rem;
        width: 4rem;
    }
    .email_icon{

        height: 10rem;
        width: 10rem;
    }

    .social_icons img:nth-child(1){
        top: 8%;
        left: 42%;

    }

    .social_icons img:nth-child(3){
        top: 65%;
        left: 70%;
        
    }

    .social_icons img:nth-child(5){
        top: 65%;
        left: 10%;
        
    }
}


}   //media end

@media only screen and (max-width: 480px) {

    .logo{
        .logo-img{    
            display: none;
        }
        
        .title{
            text-align: left;
        }
    }
    .main-landing{
        .carousel-caption{

            h5{
                padding: 0;
            }
            p{
                width: auto;
            }



        }



    }

//dean_section

    section .dean-section{        
        padding: 5rem 2rem;
    }
    

//map section

.map-section{
    padding: 5rem .5rem;
}

iframe{
    height: 30rem;
    width: 100%;
    
}

.card{
    margin-top: 1rem;
    h2{
        font-size: 1.5rem;
    }
    .card-title, .card-text{
        padding: 1rem .5rem;
        text-align: unset;
    }

.card-img-top{
    padding-top: 1.5rem;
    width: 10rem;
}

}

//Departemtn Section
.md_align{
    display: flex;
    align-items: center;
    justify-content: center;
}


//Link Section

.links_section {

    .link_container{
        
        .card_section{
            .box{
                padding: 0 1rem;
            }
        }   
    }
}

//contact_us

.contact_us{
    padding: 0;
    margin: 0;
    .social_icon{
        height: 4rem;
        width: 4rem;
    }
    
    .email_icon{

        height: 10rem;
        width: 10rem;
    }

    .mail_logo{
        background: radial-gradient(400px, $blue-400, transparent 50%);
        
    }

    .social_icons img:nth-child(1){
        top: 8%;
        left: 42%;

    }

    .social_icons img:nth-child(3){
        top: 65%;
        left: 70%;
        
    }

    .social_icons img:nth-child(5){
        top: 65%;
        left: 10%;
        
    }
}


.dash_footer{
    padding-left: 5rem;

}

}   //media end
