

.newsletter_header{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        padding: 25%;
        font-family: $font-primary;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}