   //color pallets
   $blue: blue ;   
   $Blue-50: #E3F2FD;
   $blue-100: #BBDEFB;   
   $blue-200: #90CAF9;   
   $blue-300: #64B5F6;   
   $blue-400: #42A5F5;   
   $blue-500: #2196F3;   
   $blue-600: #1E88E5;   
   $blue-700: #1976D2;   
   $blue-800: #1565C0;   
   $blue-900: #0D47A1;   
   $blue-A100: #82B1FF;   
   $blue-A200: #448AFF;   
   $blue-A400: #2979FF;   
   $blue-A700: #2962FF;

   $bg: #171f30;
   $c-01: #5389a6;
   $c-02: #a6dcee;

   // variables
   $primary-color: hsl(228, 85%, 38%);
   $secondary-color: hsl(228, 65%, 44%);
   $nav-font-color: hsl(0, 11%, 89%);
   $color-white: hsl(0, 0%, 100%);
   $color-black:  #000000 ;
   $scroll-primary: hsl(0, 0%, 64%);
   $scroll-secondary: hsl(229, 65%, 58%);
   $gray-color: hsl(0, 0%, 42%);

   $nav-fonts: 'Open Sans', sans-serif;
   $font-primary: 'Roboto', sans-serif;
   $font-secondary: 'Roboto Condensed', sans-serif;   
   $font-01: "Oxygen", sans-serif;


   $logo-nav-height: 18vh;