@import "./variables";
@import "./header";
@import "./animations";
@import "./landingPage";
@import "./media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    
    width: 0.5vw;


    &-track{
        background-color: $color-white;
    }
    &-thumb{
        border-radius: 5px;
        background-color: $scroll-primary;

        &:hover {    
            background-color: $scroll-secondary;

        }
    }
}

