<%- include('../partials/nav') %>



<!-- main Section -->


<%- include('landing') %>

<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Central Library</h2>

<img src="/public/Images/info-cards/Central-Library.jpg" class="margin_all" alt="Central-Library">

<p class="margin_all">Introduction It is a fact that no institution or department can work efficiently and optimally until and unless its superiors and managers directly take an active and avid interest in its proper administration. Obviously, the Allama I. I. Kazi Central Library is no exception to this rule. We are indeed fortunate to have in the person of the present Vice Chancellor of the University of Sindh, Prof. Dr. Nazir A. Mughal, just such an administrator. He is an educationist and academician to the core and has taken upon his shoulders the daunting task of improving the lot of the Central and Seminar Libraries of the University of Sindh and bringing them up to par with the requirements and standards of the modern day library in this age of information technology.</p>

<h4 class="margin_all">Higher Educatin Commision (HEC) Digital Library Free Access</h4>

<p class="margin_all">The Higher Education Commission (HEC) has secured inclusion in the Programme for Enhancement of Research Information (PERI) of the International Network for Scientific Publications. The University of Sindh has been linked on this program as it aims to support the faculty & research scholars by strengthening the production, access and dissemination of information and knowledge. Through the inclusion of Pakistan in this Programme, its Universities and Colleges, etc. will gain access to over 23000 peer-reviewed full text online International Academic Journals from some of the world's top publishing houses. In addition users in Pakistan will have access to many of the world leading bibliographic and reference databases. Publishers included are Springlink, Blackwell synergy, Ebscohost, Royal society of chemistry, Bentham Science, Mary Ann Liebert, Oxford University press, Palgrave Macmillan. Therefore in the January 2007 includes the other online publishers as well American Mathematical Society, American Physical Society, American Association of Physics, Teacher American society of microbiology, Association of Computing Machinery, American Institute of Physics, IsI web of knowledge and Elservier Science Direct.com. 40,000 E-books are also included in this system.</p>

<a href="www.digitallibrary.edu.pk" class="margin_all">www.digitallibrary.edu.pk</a>

<p class="margin_all">IEEE Xplore is delivering full text access to the world's highest quality technical literature in electrical engineering, computer science, and electronics Content Updates Browse the latest update to see recently added content. Top 100 Documents Find out the most accessed documents for the month. IEEE books are available for purchase from Wiley-IEEE Press and Wiley-IEEE Computer Society Press. Conferences, Magazines & Journals. IEEE Member can access pre-formatted citation information from IEEE Xplore AbstractPlus records, search results, and tables of contents. Download the citation or citation with abstract into your bibliographic management program. University of Sindh is the member of IEEE and can access for the following subjects: Computer Sciences. Information Technology Business Administrations</p>

<h4 class="margin_all">Attention Faculty Members</h4>

<p class="margin_all">If you are interested in using any of the above you are advised to visit Allama I.I Kazi Central Library or send an email to: <span class="email_link"> ieee@usindh.edu.pk </span></p>

<p class="margin_all">The requested material (available at the website of IEEE) will be sent to you through email. All the requests should come using the official email addresses of the University of Sindh. Requests from commercial email addresses will not be entertained.</p>

<h4 class="margin_all">Historical Background</h4>

<p class="margin_all">The Sindh University Library, as it was then called, was originally located within the same building of the University on the ground floor of Pir Ilahi Bux Teacher’s College, Bunder Road (New M.A. Jinnah Road Karachi). Its first librarian, Dr. Abdul Moid, was appointed in 1948. In 1951, it was relocated in the Sindh University premises, what is now known as Elsa Kazi Campus, Hyderabad. Dr. Muhammad Ali Kazi was its first Librarian. With the collection of 4000 books and Jamil Wasti of English department, as its Incharge Librarian. Late Dr. Qazi Muhammad Ali also remained Incharge of this library for some time . In 1954, the first professional Librarian Dr. Muhammad Ali Qazi was appointed. He was also the founder of the Department of Library Science. The construction of the present building housing the Library was started in 1970. Its foundation was laid by H.R.H, the Aga Khan Shah Karim. The Library became functional in 1975. This building is centrally located at a height commanding a grand view of the River Indus winding away down the meadows to join the sea. It is close proximity of the Teaching Faculties and is rectangular in shape symbolizing the shape of a book. It is a five story building consisting of 3 floors and 2 mezzanines (total 5 levels) having 48 carrels on the top floor. The building has been centrally air-conditions in 2002. and the sections no included in Central Air-Conditioning system have now been provided the Air-conditioning facility by installing 26 Window and (3) Split Air-Conditioners; all the library sections are now fully Air-conditioned. The present collection of the library and its 51 Seminar libraries stand at 305095 books (3.5 lacs). The includes approx 80,000 books in the Oriental Section of the library and collection of Prof. A.L. Shaikh, Prof. Mr. Abdul Aziz Memon, Mr. Hakim Shamsuddin, Dr. Nabi Bux Kazi, the Usmania University, Delhi, Dr. Nabi Bux Baloch gifted to this Library. The library has other prized collections of approximately 711 manuscripts (Mostly 600 to 800 years old) and 25 (Twenty five thousand) rare books (19th century publications, both in occidental & oriental languages.</p>


</div>


</section>





<%- include('../partials/footer')  %>