<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Signup for Ehsaas Undergraduate Scholarship Program</h2>

<p class="margin_all">If you have not created or don't know how to create Ehsass Scholarship ID then follow our 
    guide below, its easy and simple to create with few simple steps.
</p>

<h2 class="margin_all" id="howapply">Go to Link</h2>

    <p class="margin_all" >Go to this <a href="https://ehsaas.hec.gov.pk/#/login" class="btn btn-success">Link</a> 
        and click the SignUp just below the SignIn button</p>

    
            <div class="half_img2">
            <img src="/public/Images/info-cards/Screenshot (293).png" class="margin_all lms_img1" alt="LMS">
            </div>



    <h2 class="margin_all" id="howapply">Fill the Form</h2>

            <p class="margin_all" >Fill the required information with correct information and select the fathers Occupation, 
            <strong>Note: uncheck Currently Employed box if he is retired </strong>  </p>

        
            <div class="half_img2">
            <img src="/public/Images/info-cards/ehsass_apply (28).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/ehsass_apply (27).png" class="margin_all lms_img2" alt="LMS">
            </div>

            <p class="margin_all" >just like above fill in your Home address and Nationality information then Click 
                <span class="next_section"> Next </span> to move
                other part of form section  </p>
             
            <div class="half_img2">
                <img src="/public/Images/info-cards/ehsass_apply (25).png" class="margin_all lms_img2" alt="LMS">
            </div>




        <h2 class="margin_all" id="howapply">-Education</h2>

            <p class="margin_all" >Fill in your Secondary (Metriculation) & O-Level (Intermediate) Education details 
                with current marks and passing year
            </p>
        
                
                    <div class="half_img2">
                    <img src="/public/Images/info-cards/ehsass_apply (24).png" class="margin_all lms_img1" alt="LMS">
                    </div>
        
                    <p class="margin_all" >In this section fill in the current Degree program your a currenty enrolled
                        and applying for Scholarship,   </p>
                     
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (23).png" class="margin_all lms_img2" alt="LMS">
                    </div>



                    <h2 class="margin_all" id="howapply">-Family Information</h2>

                    <p class="margin_all" >Fill the Family information with total earning and who is earning Father/Mother or any Sibling
                    </p>
        
                
                    <div class="half_img2">
                    <img src="/public/Images/info-cards/ehsass_apply (22).png" class="margin_all lms_img1" alt="LMS">
                    <img src="/public/Images/info-cards/ehsass_apply (21).png" class="margin_all lms_img2" alt="LMS">
                    </div>
        
                    <p class="margin_all" >Add number of family member and Fill in your mother name with CNIC number
                    </p>
            
                    
                        <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (20).png" class="margin_all lms_img1" alt="LMS">
                        <img src="/public/Images/info-cards/ehsass_apply (19).png" class="margin_all lms_img2" alt="LMS">
                        </div>


                    <p class="margin_all" >Add the person who is earning per month, 
                        <strong>you can add multiple person who are earning  </strong>
                    </p>
                     
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (18).png" class="margin_all lms_img2" alt="LMS">
                    </div>


                    <h2 class="margin_all" id="howapply">-Expenditure</h2>

                    <p class="margin_all" >Enter your Expenditure which is used in Education
                    </p>
        
                
                    <div class="half_img2">
                    <img src="/public/Images/info-cards/ehsass_apply (17).png" class="margin_all lms_img1" alt="LMS">
                    <img src="/public/Images/info-cards/ehsass_apply (16).png" class="margin_all lms_img2" alt="LMS">
                    </div>
        
                    <p class="margin_all" >Fill in your family monthly Expenditure and then add your home details, its owned or 
                        monthly mortgage
                    </p>
            
                    
                        <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (15).png" class="margin_all lms_img1" alt="LMS">
                        <img src="/public/Images/info-cards/ehsass_apply (14).png" class="margin_all lms_img2" alt="LMS">
                        </div>


                    <p class="margin_all" >Add the reason for Scholarship and if monthly Expenditure is more then Income then 
                        also explain the reason like taking a load or any other reason you have and add any other property
                         own by parents, if any.
                    </p>
                     
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (13).png" class="margin_all lms_img2" alt="LMS">
                    </div>



                    <h2 class="margin_all" id="howapply">-Assest Details</h2>

                    <p class="margin_all" >Enter your Property, cattle, vehicle or any Assest your parents owns.
                    </p>
        
                
                    <div class="half_img2">
                    <img src="/public/Images/info-cards/ehsass_apply (12).png" class="margin_all lms_img1" alt="LMS">
                    <img src="/public/Images/info-cards/ehsass_apply (11).png" class="margin_all lms_img2" alt="LMS">
                    </div>


                    <p class="margin_all" >Given in your details how your money semester fees is paid and why you need this 
                        scholarship, after all that agree the terms & click <span class="next_section"> Submit </span>
                    </p>
                     
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (9).png" class="margin_all lms_img2" alt="LMS">
                        <img src="/public/Images/info-cards/ehsass_apply (8).png" class="margin_all lms_img2" alt="LMS">
                    </div>
                    <h2 class="margin_all" id="howapply">thats It!</h2>
                    <p class="margin_all" >Its done your can now download your form by clicking the icon mention in circule in below 
                        image & submit it the printout copy of that form to clark office.
                    </p>
                     
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/ehsass_apply (7).png" class="margin_all lms_img2" alt="LMS">
                        <img src="/public/Images/info-cards/ehsass_apply (6).png" class="margin_all lms_img2" alt="LMS">
                    </div>




</div>


</section>





<%- include('../partials/footer')  %>