<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Signup for Ehsaas Undergraduate Scholarship Program</h2>

<p class="margin_all">If you have not created or don't know how to create Ehsass Scholarship ID then follow our 
    guide below, its easy and simple to create with few simple steps.
</p>

<h2 class="margin_all" id="howapply">Go to Link</h2>

    <p class="margin_all" >Go to this <a href="https://ehsaas.hec.gov.pk/#/login" class="btn btn-success">Link</a> 
        and click the SignUp just below the SignIn button</p>

    
            <div class="half_img2">
            <img src="/public/Images/info-cards/Screenshot (293).png" class="margin_all lms_img1" alt="LMS">
            </div>



    <h2 class="margin_all" id="howapply">Fill the Form</h2>

            <p class="margin_all" >Fill the required information with correct information, 
                Enter your new passowrd and your personal Mobile Number & Email <Address></Address> </p>

        
            <div class="half_img2">
            <img src="/public/Images/info-cards/ehsass_id (1).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/ehsass_id (2).png" class="margin_all lms_img2" alt="LMS">
            </div>

            <p class="margin_all" >After filling all fields then Click 
                <span class="next_section"> SignUp </span> Button
                to create a New id & done thats it, you will see this similar screen and your Account is created.</p>

                <div class="half_img2">
                    <img src="/public/Images/info-cards/ehsass_apply (1).png" class="margin_all lms_img1" alt="LMS">
                </div>




</div>


</section>





<%- include('../partials/footer')  %>