<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">How to check provisional examination result on your university of Sindh LMS ?</h2>

<a href="https://lms.usindh.edu.pk/" class="btn btn-primary link_btn">Go to LMS</a>

   

        <h2 class="margin_all">Just watch the following vidoe or you can just follow the steps below:</h2>
        <iframe class="embVideoSize"src="https://www.youtube.com/embed/kOxgme89UOs"></iframe>


        
        <h2 class="margin_all" id="Login">LogIn</h2>

        <p class="margin_all">LogIn using your ID and passowrd, ID can be either CNIC number or Roll Number, which you might have already used and created an account on 
            Eportal site, if you dont an account yet then 
            <a href="/info/lms/login" class="btn btn-success link_btn">Click Here</a> to see how to register New ID, after that you should be able to 
            to see following screen after successfully logging in.
        </p>
        
        <div class="half_img2">
            <img src="/public/Images/info-cards/lms_login (2).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/lms_login (1).png" class="margin_all lms_img2" alt="LMS">
            </div>
            

            <p class="margin_all">Click on the <span class="next_section">Provisional Examination Result</span> like 
                shown below with circles
            </p>
            
            <div class="half_img2">
                <img src="/public/Images/info-cards/lms_login (1) - Copy.png" class="margin_all lms_img2" alt="LMS">
                </div>



                <p class="margin_all">you should see below screen now select Exam Type if its Improver or Regular and also
                    select Semester
                </p>
                
                <div class="half_img2">
                    <img src="/public/Images/info-cards/result (2).png" class="margin_all lms_img1" alt="LMS">
                    <img src="/public/Images/info-cards/result (1).png" class="margin_all lms_img2" alt="LMS">
                    </div>

                    <p class="margin_all">Now you should be able to see your result, rest will be uploaded by Respective Teacher on Time
                    </p>
                    
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/result (3).png" class="margin_all lms_img1" alt="LMS">
                        </div>



                    <p class="margin_all"><span class="warning_section">Note: </span> If you have more queries regarding to this issue like you dont have access to your email then 
                        Contact:
                         <span class="next_section">Dr. Yasir Arfat Malkani </span>
                         <span class="teacher_section">Associate Professor IMCS / Director IT Services </span>
                         Centre University of Sindh, Jamshoro
                         
                    </p>


</div>


</section>





<%- include('../partials/footer')  %>