<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">HEC NEED BASED SCHOLARSHIP</h2>

<a href="https://itsc.usindh.edu.pk/eportal/public/login.php" class="btn btn-success link_btn">Go to LMS</a>
<a href="#howapply" class="btn btn-primary link_btn">How to Apply</a>

<p class="margin_all">Pakistan has no shortage of talented youth, but in several instances, 
    lack of resources prevents them from realizing their potentials. This becomes more problematic when 
    it comes to accessing higher education. The Government of Pakistan acknowledges these constraints and 
    has tasked Higher Education Commission to facilitate the needy and deserving students through Need Based 
    Scholarships. Scholarships have been announced for financially disadvantaged students of as many as 94 public sector universities and their campuses. 
    <br>The scholarships aim to elevate the socio-economic status of the students by enabling their chances to 
    get the modern education and career opportunities for their brighter future.
    

<div class="half_img">
<img src="/public/Images/info-cards/HEC NBS-1.jpg" class="margin_all img-fluid" alt="LMS">
</div>





<h2 class="margin_all">ELIGIBILITY CRITERIA:</h2>
    <ul>

    <li>Every year a new session of HEC-Need Based Scholarship is started and only those Students who are Same Batch as session can apply. (Example;  in 2020 Session only batch of 2k20 can apply)</li>
    <li>Students must not be getting another HEC related Scholarship.</li>
    <li>Students Guardian’s Salary must be less than 50,000rs.</li>
    <li>Students who secure admission on self-finance are not eligible for HEC Need-Based Scholarship Program.</li>
    <li>The number of slots will be decided by the universities.</li>
    </ul>

<h2 class="margin_all" id="howapply">How Can I Apply?</h2>
<h4 class="margin_all">Steps to apply:</h4>


    <h5 class="margin_all" >1. log in to your e-portal account.  
        <a href="https://itsc.usindh.edu.pk/eportal/public/login.php" class="btn btn-outline-secondary">Link</a></h5>


     <h5 class="margin_all" >2. Fill the online application form</h5>

    
            <div class="half_img2">
            <img src="/public/Images/info-cards/HEC_SCHOLARSHIP (5).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/HEC_SCHOLARSHIP (4).jpg" class="margin_all lms_img2" alt="LMS">
            </div>

            <p class="margin_all"> If you have also applied for other Scholarships 
                fill that arrow marked section and say yes otherwise leave as is,</p>

                

        
        <h4 class="margin_all" id="howapply">Fill the Remaning sections</h4>
           <div class="half_img2">
            <img src="/public/Images/info-cards/HEC_SCHOLARSHIP (3).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/HEC_SCHOLARSHIP (2).png" class="margin_all lms_img2" alt="LMS">
            </div>

            <p class="margin_all"> After done, click  I accept and <span class="next_section">Submit Application</span></p>
                    
            <h6 class="margin_all" id="howapply">your will see this confirmation Click <span class="next_section">OK</span></h6> 
            <div class="half_img2">
                <img src="/public/Images/info-cards/HEC_SCHOLARSHIP (1).png" class="margin_all lms_img1" alt="LMS">
                    </div>


                    <h5 class="margin_all" >3. get the printout of it and get signed by the respective department head.</h5>
                    <h5 class="margin_all" >4. bring application form along with required time at the time of the interview,</h5>

                    <h4 class="margin_all" >Required Documents on the day of Interview:</h4>
                    <ul>
                        <li>Printed Copy of Online Application Form Duly signed by Department Heads</li>
                        <li>Student's/ Guardian's CNIC</li>
                        <li>Student's ID Card</li>
                        <li>Student's First Year Mark sheet</li>
                        <li>Student's Guardian's Income Certificate Along with Affidavit by Guardian
                           <br><strong>Note: </strong>This declaration of income statement must be 
                           printed on a separate business letter head or stamp paper worth Rs.50/- 

                           <div>
                            <h6>Sample File</h6>

                            <a href="https://drive.google.com/u/0/uc?id=1-3jWVWMbUU68ykOLajPIfMcaoq6tedzT&export=download">
                                <img src="/public/Images/info-cards/downalod-pdf-300x89.jpg" alt="" class="pdf_download"></a>

                            </div>
                        
                        
                        </li>
                        
                           <li>Student's Last Months House Bills Photocopy (e.g.; Gas Bills, Electricity Bills, Utility Bills, Etc)</li>
                        
                    </ul>


</div>


</section>





<%- include('../partials/footer')  %>