<section class="main-landing">
    
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active main-box-size overlay" data-bs-interval="5000">
          <img src="/public/Images/image_fet.jpg" class="d-block img-size " alt="...">
                  <div class="carousel-caption  d-md-block">
            <h5>WELCOME TO THE STUDENT GUIDANCE CENTRE</h5>
            <p >University of Sindh, Jamshoro </p>
            
          </div>
        </div>
        <div class="carousel-item main-box-size overlay " data-bs-interval="5000">
          <img src="/public/Images/1607957692_552.jpg" class="d-block img-size" alt="..." style="animation-delay: none">
          <div class="carousel-caption d-md-block">
            <h5 class="animate__animated animate__pulse">INFORMATION AND SUPPORT FOR STUDENTS</h5>
            <p class="animate__animated animate__fadeInUp">“An investment in knowledge pays the best interest” – Benjamin Franklin</p>
          </div>
        </div>
        <div class="carousel-item main-box-size overlay" data-bs-interval="5000">
          <img src="/public/Images/1608593979_186.jpg" class="d-block img-size" alt="...">
          <div class="carousel-caption d-md-block">
            <h5 class="animate__animated animate__slideInDown">Building of FET</h5>
            <p class="animate__animated animate__fadeInDown">FET, University of Sindh</p>
          </div>
        </div>
        <div class="carousel-item main-box-size overlay " data-bs-interval="5000">
          <img src="/public/Images/1608593907_290.jpg" class="d-block img-size" alt="...">
          <div class="carousel-caption d-md-block">
            <h5 class="animate__animated animate__zoomIn">IT Lawn of FET</h5>
            <p class="animate__animated animate__slideInUp">FET, University of Sindh</p>
          </div>
        </div>
        <div class="carousel-item main-box-size overlay" data-bs-interval="5000">
          <img src="/public/Images/image_lab.jpg" class="d-block img-size" alt="...">
          <div class="carousel-caption d-md-block ">
            <h5 class="animate__animated animate__slideInDown">A Place to Learn and Lead</h5>
            <p class="animate__animated animate__slideInDown">Dynamic learning with quality education through rigorous teaching and research methodologies in Engineering and Technology disciplines</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  </section>