<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Learning Management System</h2>

<a href="https://lms.usindh.edu.pk/" class="btn btn-success link_btn">Go to LMS</a>

<p class="margin_all">Simply put, a <a href="https://lms.usindh.edu.pk/" class="margin_all">learning management system (LMS)</a> is an 
    e-learning software application that handles the delivery, administration, 
    automation, and analytics of learning materials. As such, an LMS is a highly 
    organized set of software that serves the entire online educational ecosystem.</p>

<div class="half_img">
<img src="/public/Images/info-cards/lms.png" class="margin_all img-fluid" alt="LMS">
<img src="/public/Images/info-cards/lms.png" class="margin_all img-fluid" alt="LMS">
</div>


<h2 class="margin_all">ITSC Projects. What are they?</h2>

<p class="margin_all">Information Technology Services Centre <a href="https://itsc.usindh.edu.pk/" class="margin_all">(ITSC)</a> 
    was established in 2018 with the vision that there should be a centralized IT center, which will provide best IT 
    facilities to all the stake holders of the University of Sindh in an efficient and centralized manner. Since its 
    inception, ITSC has achieved remarkable milestones provided numerous Online services to the Faculty and Students of 
    University of Sindh, striving to provide best possible online solution to facilitate the academic and administrative 
    process, involving</p>

<div class="half_img2">
    <img src="/public/Images/info-cards/lms_ (3).png" class="margin_all lms_img1" alt="LMS">
    <img src="/public/Images/info-cards/lms_ (4).png" class="margin_all lms_img2" alt="LMS">
    </div>





    <h2 class="margin_all">Quick Links. What are they for?</h2>

    <p class="margin_all">Information Technology Services Centre <a href="https://itsc.usindh.edu.pk/" class="margin_all">(ITSC)</a> 
        was established in 2018 with the vision that there should be a centralized IT center, which will provide best IT 
        facilities to all the stake holders of the University of Sindh in an efficient and centralized manner. Since its 
        inception, ITSC has achieved remarkable milestones provided numerous Online services to the Faculty and Students of 
        University of Sindh, striving to provide best possible online solution to facilitate the academic and administrative 
        process, involving</p>
        
        <div class="half_img2">
            <img src="/public/Images/info-cards/lms_ (1).png" class="margin_all lms_img2" alt="LMS">
        </div>



</div>


</section>





<%- include('../partials/footer')  %>