<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">How to LogIn in LMS?</h2>

<a href="https://lms.usindh.edu.pk/" class="btn btn-primary link_btn">Go to LMS</a>
<a href="#Login" class="btn btn-secondary link_btn">LogIn</a>
<a href="#registerID" class="btn btn-success link_btn">Register ID</a>
<a href="#forgotePass" class="btn btn-warning link_btn">Forgote Password</a>

   

        <h2 class="margin_all">Just watch the following vidoe or you can just follow the steps below:</h2>
        <iframe class="embVideoSize"src="https://youtube.com/embed/yX1lBG2CnPg"></iframe>


        
        <h2 class="margin_all" id="Login">LogIn</h2>

        <p class="margin_all">LogIn using your ID and passowrd, ID can be either CNIC number or Roll Number, which you might have already used and created an account on 
            Eportal site, if you dont an account yet then 
            <a href="#registerID" class="btn btn-success link_btn">Click Here</a> to see how to register New ID, after that you should be able to 
            to see following screen after successfully logging in.
        </p>
        
        <div class="half_img2">
            <img src="/public/Images/info-cards/lms_login (2).png" class="margin_all lms_img1" alt="LMS">
            <img src="/public/Images/info-cards/lms_login (1).png" class="margin_all lms_img2" alt="LMS">
            </div>
        
 


            <h2 class="margin_all" id="registerID">Register New Account</h2>

            <p class="margin_all">you should have you account created when applied for admission in University that same account ID
                & password can be used to login to your <a href="https://itsc.usindh.edu.pk/eportal/public/login.php" class="btn btn-primary link_btn">LMS</a> 
            </p>
            <p class="margin_all">or just click Register and follow below as we create an Account shown by Sir Zeeshan Bhatti
            </p>          
            
            <div class="half_img2">
                <img src="/public/Images/info-cards/lms_register (1).png" class="margin_all lms_img1" alt="LMS">
                <img src="/public/Images/info-cards/lms_register (9).png" class="margin_all lms_img2" alt="LMS">
                </div>

                <p class="margin_all">fill in form with your Full name, Cast, Email Address and Mobile number, select other country if 
                    your from abroad
                </p>
                
                <div class="half_img2">
                    <img src="/public/Images/info-cards/lms_register (9).png" class="margin_all lms_img1" alt="LMS">
                    </div>

                    <p class="margin_all">Enter your personal correct CNIC number in both section, <strong>warning:</strong> it cannot be changed after that
                    </p>
                    
                    <div class="half_img2">
                        <img src="/public/Images/info-cards/lms_register (6).png" class="margin_all lms_img2" alt="LMS">
                        </div>

                        <p class="margin_all">Now Enter your Personal Email Address where you'll receive confirmation link and enter
                            your password and click register after that you sholud be able to 
                            <a href="https://itsc.usindh.edu.pk/eportal/public/login.php" class="btn btn-primary link_btn">LogIn</a> in your LMS Account 
                        </p>
                        
                        <div class="half_img2">
                            <img src="/public/Images/info-cards/lms_register (7).png" class="margin_all lms_img1" alt="LMS">
                            <img src="/public/Images/info-cards/lms_register (8).png" class="margin_all lms_img2" alt="LMS">
                            </div>


    <h2 class="margin_all" id="forgotePass">Forgote Password?</h2>

    <p class="margin_all">If you have forgotten your Account password click the <span class="next_section">Forgote password</span> </p>
        
        <div class="half_img2">
            <img src="/public/Images/info-cards/lms_forgot_pass.png" class="margin_all lms_img1" alt="LMS">
            </div>

            <p class="margin_all">and Enter your Roll No CNIC or Passport Number and link will be sent to your email address 
                which you have already registered with accout, check your mail box and open that link and enter your new password
                and Done that should be it now you can <a href="#Login" class="btn btn-secondary link_btn">LogIn</a> to your <a href="https://itsc.usindh.edu.pk/eportal/public/login.php" class="btn btn-primary link_btn">LMS</a> Account
            </p>
                
                <div class="half_img2">
                    <img src="/public/Images/info-cards/lms_forgot_pass (2).png" class="margin_all lms_img1" alt="LMS">
                    <img src="/public/Images/info-cards/lms_forgot_pass (1).png" class="margin_all lms_img1" alt="LMS">
                    </div>

                    <p class="margin_all"><span class="warning_section">Note: </span> If you have more queries regarding to this issue like you dont have access to your email then 
                        Contact:
                         <span class="next_section">Dr. Yasir Arfat Malkani </span>
                         <span class="teacher_section">Associate Professor IMCS / Director IT Services </span>
                         Centre University of Sindh, Jamshoro
                         
                    </p>


</div>


</section>





<%- include('../partials/footer')  %>