<%- include('../partials/nav') %>



<!-- main Section -->


<%- include('landing') %>

<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Skills and Career Development Center (US-SCDC)</h2>

<h4 class="margin_all">Background and Rationale</h4>

<p class="margin_all">Academia and industry have been collaborating for over a century worldwide, but the rise of global knowledge economy has intensified the need for strong relationship and bridging up the gap between academia and industry. Unfortunately, in Pakistan generally and in Sindh specifically, most of our universities are lagging behind on this collaboration and are failed to keep pace with industry due to their old fashioned and traditional curriculum and teaching methods. As there is competition in industry, therefore competitive universities have come forward to take required initiatives to match industry requirements. These are designed to run longer, invest more in technology, look into future with laser sharp focus and enhance the competitiveness, both locally and globally, of their students and researchers.</p>

<p class="margin_all">Skills and Career Development Center (SCDC) is established to develop human resources and generation of human capital by imparting skills development with high quality contents for the students of the University of Sindh and to build a strong relationship and industry liaison between the university and the industry. We believe that when universities and industries work in tandem to push the frontiers of knowledge, they become powerful engine for innovation, development and economic growth.</p>

<h4 class="margin_all">Goal</h4>

<p class="margin_all">Career counseling and skills development of the students of the University of Sindh, and bridging up gap between the university and industry.  SCDC will prepare the students of the University of Sindh for success in a new changing world of knowledge-based economy. During this project, students will be given training on different skills sets so that they will be capable to work in any national or international job market directly after passing out their graduate degrees.</p>

<h4 class="margin_all">Objectives</h4>

<ul class="page_list_style">

    <li>1- Building capacity of the students regarding career development and counseling on academic matters, issues and challenges;</li>
    <li>2- Providing guidance on getting scholarships, internships and apprenticeships opportunities;</li>
    <li>3- Creating opportunities for jobs and develop and polish their job hunting skills;</li>
    <li>4- Enhancing and improving soft skills of the students that support them in practical as well as professional life.</li>
</ul>


<h4 class="margin_all">Collaboration</h4>



<p class="margin_all">Sindh Skills Development Program (SSDP) <a href="http://www.ssdpglobal.org/" class="margin_all">www.ssdpglobal.org</a></p>

</div>


</section>





<%- include('../partials/footer')  %>