<%- include('../partials/nav') %>



<!-- main Section -->


<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Scholarships</h2>

<img src="/public/Images/info-cards/scolarship.jpg" class="margin_all" alt="Central-Library">

<p class="margin_all">The University admits a large number of students, majority belonging to rural areas and disadvantaged poor families, realizing that education has become very costly and it is difficult for them to pursue their education due to financial constraints. The University has taken initiative for providing financial relief to meritorious and deprived students with the financial assistances/need based scholarship programs. In this regard, University of Sindh has established the “Students Financial Aid Office” (SFAO), providing access to quality education through Need-based and Merit-based Scholarships.
    All Scholarships/Financial Aid Cases are routed through Students Financial Aid Office (SFAO). A centralized record of all students getting any Financial Aid is kept in the Students Financial Aid Office (SFAO).</p>

<p>At the moment, the Student Financial Aid Office (SFAO) covers the following scholarships / financial assistances offered by:</p>


<table class="table">
    <thead>
      <tr>
        <th scope="col">No: #</th>
        <th scope="col">Name of Scholarship</th>
        <th scope="col">Sponsors/Donors</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">1</th>
        <td>HEC Need-Based Scholarship</td>
        <td>Higher Education Commision of Pakistan</td>
      </tr>
      
      <tr>
        <th scope="row">2</th>
        <td>Pakistan Scottish Scholarship for Women</td>
        <td>British Council</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Need-Cum-Merit Scholarship</td>
        <td>Auqaf, Religious Affairs, Zakat & Ushr Department, Government of Sindh</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Minority Scholarship</td>
        <td>Ministry of Minority, Govt. of Pakistan</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Freeships & Bursary</td>
        <td>University of Sindh, Jamshoro</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Scholarship for Disable Students</td>
        <td>University of Sindh, Jamshoro</td>=
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Schedule Cast Scholarship</td>
        <td>Deputy Commissioner Office</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Al-falah Scholarship</td>
        <td>Al-Falah Foundation</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Diya-Pak Scholarship</td>
        <td>Diya Pak Foundation</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Poor Students’ Fund</td>
        <td>University of Sindh</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>Sindh Educational Endowment Fund Scholarship</td>
        <td>The College Education Department,
            Government of Sindh</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>District Zakat Committee Scholarship</td>
        <td>The Government of Balochistan</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>Punjab Educational Endowment Fund (PEEF)</td>
        <td>The Government of Punjab</td>
      </tr>

    </tbody>
  </table>



<p class="margin_all">The Students’ Financial Aid Office, University of Sindh, under the platform of HEC Need Based Scholarship, has managed to provide 350 scholarships among needy and meritorious students during academic year 2012-13, 490 scholarships in 2013-14, 300 scholarships in 2014-15, 611 scholarships in 2015-16, 500 scholarships in 2016-17, 450 scholarships in 2017-18 and 500 scholarships in 2018-19. Furthermore, 400 students belonging to various district of Sindh have been benifitted with the handsome award of Need-Cum-Merit Scholarship, and last but not the least, 5 lady scholars have been awarded with the Pakistan Scottish Scholarship, in which each candidate received the attractive stipend of Rs. 120,000/-</p>

<p class="margin_all">For facilitating the students, the Students Financial Aid Office (SFAO) is always in touch with Faculties, Institutes & departments. The coordinator’s responsibility is to answer the queries of students at their department regarding the various scholarship programs, and assist the students during filling the application forms.</p>

<p class="margin_all">The Students Financial Aid Office (SFAO) has also developed the Standard Operating Procedures (SOPs) regarding Internal (University) and external Scholarship programs; this office has developed an Application Profarma regarding University Scholarship Programs.</p>

<h4 class="margin_all">FINANCIAL ASSISTANCE</h4>

<p class="margin_all">The University grants limited Freeships and Bursariesto the deserving students on Poverty-cum-Merit basis. The University has instituted two new Scholarships to be awarded every year to: </p>


<ul class="page_list_style">

    <li>a) Hundred (100) Scholarships to meritorious needy students joining the University.</li>
    <li>b)fifty (50) scholarships to students admitted on disabled quota. Dr. Sauer Scholarship is also awarded to local female students on merit basis.</li>
</ul>

<h4 >SCHOLARSHIPS</h4>

<p>Scholarships are also awarded for outstanding performance by the District Councils, Directorate of College Education in Sindh and by other agencies.</p>

</div>


</section>





<%- include('../partials/footer')  %>