<%- include('../partials/nav') %>



<!-- main Section -->


<%- include('landing') %>

<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Institute of Sindhology</h2>

<img src="/public/Images/info-cards/Sindhology.jpg" class="margin_all" alt="Central-Library">

<p class="margin_all">Cultural Heritage is an emerging interdisciplinary field of study, and its inquiry has increasingly been recognized as an important arena by scholars, practitioners, and institutions. The scholarship recognizes that cultural heritage – in its many different forms and alternative expressions – constitutes an influential force in the socio-cultural and political, economic and religious dynamics of state and society. In academic and policy narratives, cultural heritage is now getting a great deal of attention worldwide. In recent years, the new theoretical and methodological approaches have helped to introduce and reshape the diverse scholarly narratives, policy and activist practices in the emerging interdisciplinary field of critical heritage studies.</p>

<p class="margin_all">Against this backdrop, the Second International Conference on Sindh Studies 2018 ‘Cultural Heritage: New Researches and Perspectives’ aims to critically examine and contribute to the advancement of critical knowledge on cultural heritage by drawing on the expertise from a range of disciplines including anthropology, archaeology, ethnomusicology, heritage studies, culture studies, visual and performance studies, media studies, architecture, art, literature, language, history, psychology, sociology, and tourism. The Conference envisages the inclusive idea of investigating the Indus valley cultural heritage in its wider historical, transcultural geographic boundaries which includes the whole Indo-Pak subcontinent and ancient Silk road.</p>



<p class="margin_all">Keeping in view the multidisciplinary scholarly engagements, this year 2nd International Sindh Studies conference on Cultural Heritage invite the research abstracts on the following themes but are not limited to.</p>

<ul class="page_list_style">

<li>  Heritage Sites in Pakistan – International cultural bodies, Government and Civil Society activism and interventions in the promotion and preservation of Heritage in Pakistan</li>
<li> Islamic art and Architecture</li>
<li> Cultural-Religious Heritage and Traditions – Hindu temples and Havelis, Sikh Darbars, Gurdwaras and Samadhis, Churches and Cathedrals, Buddhist and Jain culture</li>
<li> Sufi Cultural Heritage and Contesting Identity Narratives</li>
<li> Folklore, Oral Literature and modern Progressive Literary and Cultural Movements</li>
<li> Gender and cultural heritage: portrayal and representation of women in folklore, oral literature, music, Sufism and sacred art</li>
<li> Material Heritage, Tourism and Development</li>
<li> Education and Heritage</li>
<li> Performing arts, media and cultural heritage</li>
<li> Traditional Medicine and Heritage</li>
<li> Digital media and heritage</li>
<li> Music and dance     </li>     
<li> Heritage and Museums </li>        
<li> Cultural landscape – environment, biodiversity and heritage </li>
</ul>

<p class="margin_all">The 300 words abstract accompanied by a short biography and brief CV should be submitted to Conference Convening and Scientific Committee at: <span class="email_link"> icss2018@usindh.edu.pk </span></p>




</div>


</section>





<%- include('../partials/footer')  %>