<%- include('../partials/nav') %>



<!-- main Section -->


<%- include('landing') %>

<section class="info_cards_section">

<div class="container">

<h2 class="margin_all">Student Welfare</h2>

<p class="margin_all">The University deems it obligatory to look after the welfare of the students admitted to its various programs. All efforts are made to facilitate students stay at the Campus and provide opportunities for wholesome development of students personalities. Directorate of Students Affairs has been established to provide necessary guidance and assistance.</p>

<h5 class="margin_all">Scholarship for deserving students belonging to minorities of Sindh</h5>

<div style="margin: auto; text-align: center;">
    <h6 class="margin_all">Application Proforma</h6>
    <a href="https://usindh.edu.pk/wp-content/uploads/2017/01/Min-ptoforma.pdf"><img src="/public/Images/info-cards/downalod-pdf-300x89.jpg" alt="" class="pdf_download"></a>

    <h6 class="margin_all">Circular</h6>
    <a href="https://usindh.edu.pk/wp-content/uploads/2017/01/Min-circular.pdf"><img src="/public/Images/info-cards/downalod-pdf-300x89.jpg" alt="" class="pdf_download"></a>    
</div>

<h5 class="margin_all">Following additional facilities are available:-</h5>

<h5 class="margin_all">BUREAU OF STUDENTS’ TUTORIAL COUNSELING AND GUIDANCE SERVICES (STAGS)</h5>

<p class="margin_all">The main purpose of the Bureau is to provide guidance and counseling to the students of the University of Sindh in helping them  in solving their personal and academic problems and guide them in their career-planning in the light of their aptitudes and abilities.</p>

<p class="margin_all">In addition to personal counseling, it extends academic services and also emotional, financial, legal and health problems are discussed  and necessary advice is given to the students. Students specially the foreign students are given orientation about the campus, the hostels, teaching departments, Seminar Libraries, Allama I.I. Kazi  Library, Games & Sports facilities, the Administration and the Institute of Sindhology and other important places. The Bureau is also responsible for organizing Co-Curricular activities in collaboration with various Institutes/ Departments of the University,  inter collegiate debates and Quiz  Competitions, in addition to study tours of students and has been hosting students a tour from other universities on exchange basis.</p>

<h5 class="margin_all">LIBRARY FACILITIES</h5>

<p class="margin_all">The University has well stocked reference Library named Allama I.I. Kazi Library, comprising 2,55,000 books including reference and text books and rare manuscripts. In addition, there is a comprehensive range of periodicals, magazines and research journals available in the Library. There is a large study area within the Library where students are able to study in an undisturbed setting. The library has been centrally air-conditioned. It provides cool and congenial atmosphere for academic pursuit The Library remains open from morning until late in the evening. The concerned staff is available to advise and guide the students. Photo-copying service is available within library premises.</p>

<p class="margin_all">Researchers can also benefit from E-mail & Internet facility now available at  the Library. A significant addition is the online Digital Library providing access to 18000 research journals.</p>

<h5 class="margin_all">HOSTEL FACILITIES</h5>

<p class="margin_all">The University provides residential facility to about 2600 students in its various Hostels both at Allama I.I. Kazi and Elsa Kazi Campuses.  There are eight Hostels out of which six Hostels are for the boys, one for the girls and one for the teachers residing at the Campus. Presently 650 Girls & about 2000 boys are residing in hostels.</p>

<h5 class="margin_all">FINANCIAL ASSISTANCE</h5>

<p class="margin_all">The University grants limited Free ships and Bursaries  to the deserving  students on  Poverty-cum-Merit basis. Dr. Sauer Scholarship is also awarded to local female students on merit basis.</p>

<h5 class="margin_all">QARZ-E-HASNA SCHEME</h5>

<p class="margin_all">Qarz-e-Hasna is also given to deserving students under the Qarz-e-Hasna Scheme, by the Pakistan Banking Council.</p>

<h5 class="margin_all">SPORTS FACILITIES</h5>

<p class="margin_all">The University has its own play grounds, indoor courts and stadium for the students. The Sindh University Sports Board organizes regular games and sports competition. Inter-Collegiate and Inter-University Tournaments are held annually both for girls and boys. The recently completed Fatima Jinnah Gymnasium for girls, at the Campus  provided necessary boost to girls participation in wholesome sports activities.</p>

<h5 class="margin_all">MEDICAL FACILITIES</h5>

<p class="margin_all">There is one dispensary for students maintained by the University. Ambulance is also available for students round the clock to meet any emergency. Medical care is also available in Dispensary in Hostel, in late evening hours.</p>

<h5 class="margin_all">SCHOLARSHIPS</h5>

<p class="margin_all">Scholarships are also awarded by the District Councils, Directorate of College Education in Sindh and by other Agencies.</p>



</div>


</section>





<%- include('../partials/footer')  %>